{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block page_header %}{% endblock %}

{% block page_name %}account-inactive{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><h4>{% trans "Account Inactive" %}</h4></div>
                    <div class="card-body p-4">
                        <div class="fw-bold mb-2">Your CTB account has been deactivated.</div>
                        <div>
                            If you would like to reactivate your account or need more information regarding CTB policies
                            on
                            accounts, please contact <a
                                href="mailto:ctbWebAdmin@mail.nih.gov">ctbWebAdmin@mail.nih.gov</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
