{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header"><h4>{% trans "Confirm E-mail Address" %}</h4></div>
                    <div class="card-body p-5">
                        {% user_display confirmation.email_address.user as user_display %}
                        <p>{% blocktrans with confirmation.email_address.email as email %}You have confirmed that
                            <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                            {{ user_display }}
                            .{% endblocktrans %}</p>
                        <div class="mt-3"><b>
                            Please Note: Your account application will need to be evaluated before an account can be approved. You will get an email about approval.
                            If you have any questions, please email us at <a
                                    href='mailto:ctb-support@isb-cgc.org'>ctb-support@isb-cgc.org.</a></b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
