{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_name %}password-change{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="row justify-content-center py-5">
            <div class="col-lg-6 accounts-col">
                <div class="card">
                    <div class="card-header"><h4 class="card-title">Change Password</h4></div>
                    <div class="card-body p-5">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.extra_tags == 'password_expired' %}
                                    <div class="alert alert-primary">
                                        <div class="fw-bold"><i class="fas fa-exclamation-triangle me-2"></i> Your
                                            password
                                            has expired and must be changed.
                                        </div>
                                    </div>
                                    <form method="POST" action="{% url 'account_change_password' %}"
                                          class="password_change">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <div class="d-grid pt-3 gap-2">
                                            <button class="btn btn-primary" type="submit"
                                                    name="action">{% trans "Change Password" %}</button>
                                        </div>
                                    </form>
                                {% else %}
                                    {% trans 'Your password is now changed.' %}
                                    <div class="d-grid pt-3 gap-2">
                                        <a class="btn btn-primary" type="button" href="{% url 'user_detail' user.id %}">Back
                                            to My Profile</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="small fst-italic fw-light mt-2 bg-light p-2 rounded-2">
                                    This password must be at least 16 characters and must contain at least one each of
                                    the following:
                                    <ul>
                                        <li>a lower-case letter</li>
                                        <li>an upper-case letter</li>
                                        <li>a number</li>
                                        <li>a special character from the set '!@#$%^&*+:;?'</li>
                                    </ul>
                                </div>
                                <div class="d-grid pt-3 gap-2">
                                    <button class="btn btn-primary" type="submit"
                                            name="action">{% trans "Change Password" %}</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
