{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_name %}sign-up{% endblock %}

{% block content %}

    <div class="row justify-content-center py-5">
        <div class="col-lg-4 accounts-col">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                <div class="card">
                    <div class="card-header"><h4>Register</h4></div>
                    <div class="card-body p-5">
                        <p>Already have an account? Please <a href="{% url 'two_factor:login' %}"><b>sign in</b></a>
                            instead.</p>
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="d-grid gap-2 pt-3">
                            <button class="btn btn-secondary" type="submit">{% trans "Register" %} &raquo;
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


