@import url("./bootstrap.min.css");
/*@import url("./tippy-light.css");*/
@import url("../fontawesome/css/all.min.css");
/********************************************
 * Generic style resets
 *******************************************/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&subset=latin,latin-ext");

body {
  padding-top: 58px;
}
/*!*.top-30-px {*!*/
    /*!*top: 30px;*!*/
/*!*}*!*/

/*a, a:active, a:hover {*/
    /*text-decoration: none;*/
/*}*/

/*!*.crdc-nav {*!*/
    /*!*text-align: center;*!*/
    /*!*background-color: rgb(241, 241, 241);*!*/
    /*!*font-weight: bold;*!*/
    /*!*padding: 5px 0px 5px 0px;*!*/
    /*!*border-bottom: 2px solid #737373;*!*/
    /*!*font-size: 12px;*!*/
/*!*}*!*/
/*!*.crdc-nav a, .crdc-nav a:hover, .crdc-nav a:active {*!*/
    /*!*color: #333333;*!*/
/*!*}*!*/
/*!*.crdc-nav a:hover {*!*/
    /*!*text-decoration: underline;*!*/
/*!*}*!*/

.navbar-ctb {
    padding: 5px 0;
}

.page-banner{
  text-align: center;
  padding: 20px;
}

#ctb-main-navbar{
    background-color: #4d5869;
}

#ctb-collapsible-navbar .nav-item > a {
    border-bottom: 2px solid #4d5869;
}
#ctb-collapsible-navbar .nav-item > a.active {
    border-bottom: 2px solid orange;
}

#ctb-secondary-navbar .navbar-brand{
    height: 36px;
}

#ctb-secondary-navbar a{
    color: #4d5869;
    border-radius: 2px;
    margin: 0 .25rem;
}
#ctb-secondary-navbar a:hover{
    background-color: rgba(0, 0, 0, .2);
    color: white;
}


#ctb-secondary-navbar a.active {
    background-color: rgba(204, 132, 51, .9);
    color: white;
}

main a, footer a, .nav-link{
    text-decoration: none;
    color: #4d6ea0;
}

.list-group-item-header{
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.btn-special {
    background-color: #6a4188;
    border: 1px solid #4f2f67;
}
.btn-special:hover {
    background-color: #8255a4;
}

.btn-default {
    background-color: #a9503a;
    border: 1px solid #8a4230;
}
.btn-default:hover {
    background-color: #c36149;
}

.hover-grey-button {
    background-color: transparent;
    border-width: 0;
}

.hover-grey-button:hover {
    background-color: rgba(0,0,0,0.1);
}
/*!* Accounts templates *!*/
/*.signup label, .login label, .password_reset label {*/
    /*display: none;*/
/*}*/

.card-login img{
    padding: 1rem 1.5rem;
}
.login-intro div {
    font-size: 1.3rem;
    padding: 0.4rem;
}

/* Accounts templates */
.signup label, .login label, .password_reset label {
    display: none;
}

.signup input, .login input, .password_reset input, #password-change input, .password_set input, .email-verify input {
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    border: 1px solid slategray;
    background-color: #ececec;
}

.login label[for="id_remember"] {
    display: inline-block;
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
}

#id_remember {
    width: 20px;
    margin-top: -2px;
    vertical-align: middle;
}

.anchor-section{
	/*height: 58px;*/
	/*margin: 0;*/
    /*margin-bottom: 2.5rem;*/
	scroll-margin-top: 70px;
}

/* User Details */
.user-row .col h4 {
    display: inline;
}

.clinical-step {
  position: relative;
  min-height: 1em;
  color: #a8a8a8;
}
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}
.clinical-step + .clinical-step {
  margin-top: 1.5em
}
.clinical-step > div:first-child {
  position: static;
  height: 0;
}
.clinical-step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
/* Circle */
.circle {
  background: #a8a8a8;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
    z-index: 10;
}
/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 3px;
  right: 50%;
  bottom: 0px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
}
.clinical-step:last-child .circle:after {
  display: none
}
.clinical-step.step-done {
  color: #4d6ea0;

}
.clinical-step.step-done .circle {
  background-color: #4d6ea0;

}
.clinical-step.step-done.step-active .circle {
  background-color: #4d6ea0;

}

.clinical-step.step-done .circle:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00c";
}
.clinical-step.step-done.step-active .circle:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f111";
}
.info-color{
    color: #4d6ea0;
}
/*.pub-year{*/
    /*padding-top: 70px;*/
/*}*/
/*.tab-pane-border{*/
    /*border: */

/*}*/