{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pb-4">
                {% block subcontent %}
                {% endblock %}
            </div>
            <div class="col-lg-3 pb-4">
                <div class="list-group">
                    <div class="list-group-item list-group-item-header">
                        About
                    </div>
                    <a href="{% url 'about_project' %}" class="list-group-item list-group-item-action">
                        About the Project
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'aims_page' %}">
                        Aims of the Project
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'fact_sheet' %}">
                        Fact Sheet
                    </a>
{#                    <a class="list-group-item list-group-item-action" href="{% url 'management_page' %}">#}
{#                        Management of the Project#}
{#                    </a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}