{% extends 'ctb/about.html' %}

{% load static %}

{% block title %}
    CTB | About the CTB
{% endblock %}

{% block description %}
    About the Project
{% endblock %}

{% block page_name %}about_page{% endblock %}

{% block page_header %}
    <div class="page-banner">About the CTB</div>
    <div class="container mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">About</li>
                <li class="breadcrumb-item active" aria-current="page">About the Project</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block subcontent %}
    <p><strong>The CTB (Chernobyl Tissue Bank) is a unique international cooperation that seeks to establish a
        collection of biological samples from tumors and normal tissues from patients with a known exposure
        to radioiodine in
        childhood.</strong></p>
    <p>The project, which started in October 1998, has been supported historically by a number of sponsors including the
        European Commission, the World Health Organization, the U.S. National Cancer Institute (NCI) and the Sasakawa
        Health Foundation
        of Japan (SHF).</p>
    <p>The project is currently coordinated by the Division of Cancer Epidemiology and Genetics at the NCI in
        collaboration with the V.P. Komisarenko Institute of Endocrinology (IEM) and
        Metabolism of the National Academy of Medical Sciences of Ukraine in Kiev, Ukraine. The project has the full
        support of the Government of the Ukraine.
        Initially, Belarus and Russia were included in the project but currently those collaborations are suspended
        for political reasons.</p>

    <p>The CTB has in place a robust security system to protect patient privacy while ensuring their valuable
        information is available for studies that may inform the health of future generations. Although the
        post-Chernobyl exposure thyroid tumors are
        associated with a particular etiology, they may also provide clues to the pathogenesis and molecular biology of
        thyroid carcinoma in general.</p>

{% endblock %}