{% extends 'ctb/research.html' %}

{% load static %}

{% block title %}
    CTB | Access to Materials
{% endblock %}

{% block description %}
    Access to Materials
{% endblock %}

{% block page_name %}access_to_materials{% endblock %}

{% block page_header %}
    <div class="page-banner">Access to Materials</div>
    <div class="container mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Research</li>
                <li class="breadcrumb-item active" aria-current="page">Access to Materials</li>
            </ol>
        </nav>
    </div>

{% endblock %}

{% block subcontent %}
    <p>Applications to access biomaterials must be submitted via the Biosample Search facility. All applications for use
        of the bank are referred to an independent External Review Panel, which includes experts nominated by NCI and the Institute in Ukraine.</p>
    {#    <p>An overview of the application review procedure is provided in the flow diagram below. Details of#}
    {#        the review procedure and of the criteria on which an application will be evaluated are given in#}
    {#        the <a href="{% url 'fact_sheet' %}" target="_blank"#}
    {#               rel="noopener">Fact Sheet</a>.</p>#}
    {#    <div class="mt-2"><a href="{% url 'schema_review_of_applications' %}"> Schema for review of applications</a></div>#}
    <div class="mt-5">Distribution of materials to a Principal Investigator whose project has been approved will be
        authorized subject to:
    </div>
    <ol>
        <li>receipt of a signed agreement from the Principal Investigator to conform to the conditions
            set out in the Material and Data Transfer Agreement;
        </li>
        <li>modification of the number and size of samples required dependent on any amendments by the
            External Review Panel and the availability of the material.
        </li>
    </ol>
    <div class="mt-5">
        Each sample will be identified by a CTB sample ID and will be accompanied by
        a minimum data set comprising the following information:
    </div>
    <ul>
        <li>age at accident - complying with HIPAA regulations</li>
        <li>age at operation - complying with HIPAA regulations</li>
        <li>sex</li>
        <li>oblast of residence</li>
        <li>Diagnosis</li>
        <li>Estimated thyroid radiation dose (if requested by the researcher).</li>
    </ul>
    <p class="mt-5">If a project requires more clinical information than the minimum data set, this must be stated
        clearly in the application, particularly if this is an essential component of the project. Any such project will
        normally be carried out as a collaboration with the NCI and the IEM and, where appropriate, approval of the
        relevant Ethical Committee must be sought.</p>
    <p>Where possible, material for a given project will be provided in one batch, however, in some
        cases, provision may have to be made over a period of time.</p>
{% endblock %}
