{% extends 'ctb/resources.html' %}

{% load static %}

{% block title %}
    CTB | Publications Using CTB Samples and Data
{% endblock %}

{% block description %}
    Publications Using CTB Samples and Data
{% endblock %}

{% block page_name %}bibliography{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Publications Using CTB Samples and Data</h3>
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Resources</li>
                    <li class="breadcrumb-item active" aria-current="page">Publications Using CTB Samples and Data</li>
                </ol>
            </nav>
        </div>
    </div>

{% endblock %}

{% block subcontent %}
    <p>Please click on the title to view the abstract and publication source for each paper, as listed on&nbsp;<a
            href="http://www.ncbi.nlm.nih.gov/pubmed/" target="_blank" rel="noopener">www.pubmed.com.</a>
    </p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">2011-2021
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">1999-2010
            </button>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active border border-top-0" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-1">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2021">2021</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2020">2020</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2019">2019</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2018">2018</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2017">2017</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2016">2016</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2015">2015</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2014">2014</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2013">2013</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2012">2012</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2011">2011</a>
                        </li>

                    </ul>
                </div>
                <div class="col-11">
                    <div class="p-3">
                        <div id="year-2021" class="anchor-section mb-4">
                            <h5>2021</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33888599/" target="_blank"
                                  rel="noopener">Radiation-related genomic profile of papillary thyroid
                                carcinoma after the Chernobyl accident.</a><br>Morton LM, Karyadi DM,
                                Stewart C, Bogdanova TI, Dawson ET, Steinberg MK, Dai J, Hartley SW,
                                Schonfeld SJ, Sampson JN, Maruvka YE, Kapoor V, Ramsden DA, Carvajal-Garcia
                                J, Perou CM, Parker JS, Krznaric M, Yeager M, Boland JF, Hutchinson A, Hicks
                                BD, Dagnall CL, Gastier-Foster JM, Bowen J, Lee O, Machiela MJ, Cahoon EK,
                                Brenner AV, Mabuchi K, Drozdovitch V, Masiuk S, Chepurny M, Zurnadzhy LY,
                                Hatch M, Berrington de Gonzalez A, Thomas GA, Tronko MD, Getz G, Chanock SJ.
                                Science. 2021 May 14;372(6543):eabg2538. doi: 10.1126/science.abg2538. Epub
                                2021 Apr 22. PMID: 33888599</p>
                            <hr>
                        </div>

                        <div id="year-2020" class="anchor-section mb-4">
                            <h5>2020</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/33143557/">Papillary Thyroid
                                Carcinoma in Ukraine After Chernobyl and in Japan After Fukushima: Different
                                Histopathological Scenarios</a><br>
                                Bogdanova TI, Saenko VA, Hashimoto Y, Hirokawa M, Zurnadzhy LY, Hayashi T,
                                Ito M, Iwadete M, Mitsutake N, Rogounovitch TI, Sakamoto A, Naganuma H,
                                Miyauchi A, Tronko MD, Thomas G, Yamashita S, Suzuki S.
                            <p>Thyroid. 2020 Dec 3. doi: 10.1089/thy.2020.0308</p>
                            <hr>
                        </div>

                        <div id="year-2019" class="anchor-section mb-4">
                            <h5>2019</h5>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/31569930">Histopathological
                                characteristics and post-operative follow-up of patients with potentially
                                radiogenic papillary thyroid carcinoma depending on oncocytic changes
                                availability in the tumor cells.</a><br>Bogdanova T, Zurnadzhy L, Masiuk S,
                                Burko S, Degtyaryova T, Kovalenko A, Bolgov M, Chernyshov S, Gulevatyi S,
                                Thomas G, Tronko M.<br>Exp Oncol. <strong>2019</strong> Sep;41(3):235-241
                            </p>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/30392857">Genetic
                                characterization of medullary thyroid cancer in childhood survivors of the
                                Chernobyl accident.</a><br>Fisher SB, Cote GJ, Bui-Griffith JH, Lu W, Tang
                                X, Hai T, Fisher KE, Williams MD, Wistuba II, Waguespack SG, Dorman
                                CM,Ludwig MS, Graham PH, Perrier ND, Lee JE, Grubbs EG.<br>Surgery.
                                <strong>2019</strong>
                                Jan;165(1):58-63. doi: 10.1016/j.surg.2018.08.029
                            </p>
                            <hr>
                        </div>

                        <div id="year-2018" class="anchor-section mb-4">
                            <h5>2018</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/30303113/" target="_blank"
                                  rel="noopener">Long-term strategies for thyroid health monitoring after
                                nuclear accidents: recommendations from an Expert Group convened by IARC</a><br>Togawa
                                K, Ahn HS, Auvinen A, Bauer AJ, Brito JP, Davies L,&nbsp; Kesiminiene A,
                                Laurier D, Ostroumova E, Pacini F, Reiners C, Shinkarev S, Thomas G, Tronko
                                MD, Vaccarella S, Schüz J.<br>Lancet Oncol 2018 19:1280-1283. doi:
                                10.1016/S1470-2045(18)30680-6</p>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/29633575">Anaplastic lymphoma
                                kinase (ALK) gene rearrangements in radiation-related human papillary
                                thyroid carcinoma after the Chernobyl accident.<br></a>Arndt A, Steinestel
                                K, Rump A, Sroya M, Bogdanova T, Kovgan L, Port M, Abend M, Eder S.<br>J
                                Pathol Clin Res. <strong>2018</strong> Jul;4(3):175-183. doi:
                                10.1002/cjp2.102.</p>
                            <p class="Title1"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29165687">Investigation
                                of the Relationship Between Radiation Dose and Gene Mutations and Fusions in
                                Post-Chernobyl Thyroid Cancer.<br></a>Efanov AA, Brenner AV, Bogdanova TI,
                                Kelly LM, Liu P, Little MP, Wald AI, Hatch M, Zurnadzy LY, Nikiforova MN,
                                Drozdovitch V, Leeman-Neill R, Mabuchi K, Tronko MD, Chanock SJ, Nikiforov
                                YE.<br>J Natl Cancer Inst. 2018 Apr 1;110(4):371-378. doi:
                                10.1093/jnci/djx209.</p>
                            <p class="Title1"><a href="https://pubmed.ncbi.nlm.nih.gov/30165692/">Radiation
                                and Thyroid Cancer: An Overview.</a><br>Thomas G<br>Radiat Prot Dosimetry.
                                2018 Aug 25. doi: 10.1093/rpd/ncy146</p>
                            <p class="Title1"><a href="https://pubmed.ncbi.nlm.nih.gov/29989861/">Comparative
                                Histopathologic Analysis of "Radiogenic" and "Sporadic" Papillary Thyroid
                                Carcinoma: Patients Born Before and After the Chernobyl Accident.</a><br>Bogdanova
                                TI, Saenko VA, Brenner AV, Zurnadzhy LY, Rogounovitch TI, Likhtarov IA,
                                Masiuk SV, Kovgan LM, Shpak VM, Thomas GA, Chanock SJ, Mabuchi K, Tronko MD,
                                Yamashita S.<br>Thyroid. 2018:880-890. doi: 10.1089/thy.2017.0594</p>
                            <hr>
                        </div>

                        <div id="year-2017" class="anchor-section mb-4">
                            <h5>2017</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/28904138/">A restatement of the
                                natural science evidence base concerning the health effects of low-level
                                ionizing radiation.</a> McLean AR, Adlen EK, Cardis E, Elliott A, Goodhead
                                DT, Harms-Ringdahl M, Hendry JH, Hoskin P, Jeggo PA, Mackay DJC, Muirhead
                                CR, Shepherd J, Shore RE, Thomas GA, Wakeford R, Godfray HCJ. Proc Biol Sci.
                                2017 Sep 13;284(1862). pii: 20171070</p>
                            <p>
                                <a href="https://www.elsevier.com/books/thyroid-cancer-and-nuclear-accidents/yamashita/978-0-12-812768-1">30
                                    years after Chernobyl and 5 after Fukushima – what have we learnt and
                                    what do we still need to know? </a>Thomas GA and Yamashita S. In Thyroid
                                Cancer and Nuclear Accidents eds Yamashita S and Thomas GA Elsevier 2017
                                ppxv</p>
                            <p>
                                <a href="https://www.elsevier.com/books/thyroid-cancer-and-nuclear-accidents/yamashita/978-0-12-812768-1">Somatic
                                    Genomics of Childhood Thyroid Cancer </a><br>Thomas GA In: Thyroid
                                Cancer and Nuclear Accidents 2017 eds Yamashita S and Thomas GA Elsevier
                                pp121-132</p>
                            <p>
                                <a href="https://ehjournal.biomedcentral.com/articles/10.1186/s12940-017-0211-y">Meeting
                                    report: the 5th International expert symposium in Fukushima on radiation
                                    and health.</a> <br>Saenko VA, Thomas GA, Yamashita S.Environ Health.
                                2017 16:3.</p>
                            <hr>
                        </div>

                        <div id="year-2016" class="anchor-section mb-4">
                            <h5>2016</h5>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/27729373">Integration of a
                                radiation biomarker into modeling of thyroid carcinogenesis and
                                post-Chernobyl risk assessment</a><br>Jan Christian Kaiser, Reinhard
                                Meckbach, Markus Eidemuller, Martin Selmansberger, Kristian Unger, Viktor
                                Shpak, Maria Blettner, Horst Zitzelsberger, Peter Jacob<br>Carcinogenesis.
                                <strong>2016</strong> Dec;37(12):1152-1160. doi: 10.1093/carcin/bgw102</p>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5637100/">Radiation
                                Exposure and Health Effects - is it Time to Reassess the Real
                                Consequences?</a><br>Thomas GA, Symonds P. 2016 Clin Oncol (R Coll Radiol).
                                Apr;28(4):231-6</p>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4869750/">Gene
                                signature of the post-Chernobyl papillary thyroid cancer<br></a>Daria
                                Handkiewicz-Junak, Michal Swierniak, Dagmara Rusinek, Magorzata
                                Oczko-Wojciechowska, Genevieve Dom, Carine Maenhaut, Kristian Unger, Vincent
                                Detours, Tetiana Bogdanova, Geraldine Thomas, Ilya Likhtarov, Roman Jaksik,
                                Malgorzata Kowalska, Ewa Chmielik, Michal Jarzab, Andrzej Swierniak, Barbara
                                Jarzab<br>Eur J Nucl Med Mol Imaging. <strong>2016</strong>; 43: 1267: 1277.
                                Published online 2016 Jan 26. Doi:&nbsp;10.1007/s00259-015-3303-3</p>
                            <hr>
                        </div>

                        <div id="year-2015" class="anchor-section mb-4">
                            <h5>2015</h5>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4496450/"><span
                                    style="text-decoration: underline;">Dose-dependent expression of CLIP2 in post-Chernobyl papillary thyroid carcinomas</span><br></a>Martin
                                Selmansberger, Jan Christian Kaiser, Julia Hess, Denise Gaethlin, I.
                                Likhtarev, Victor Shpak, Mykola Tronko, Alina Brenner, Michael Abend, Maria
                                Blettner, Kristian Unger, Peter Jacob, Horst Zitzelsberger<br>Carcinogenesis.
                                <strong>2015</strong> Jul; 36(7): 748-756. doi: 10.1093/carcin/bgv043</p>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4635667/"><span
                                    style="text-decoration: underline;">Genomic copy number analysis of Chernobyl papillary thyroid carcinoma in the Ukrainian - American Cohort</span><br></a>Martin
                                Selmansberger, Herbert Braselmann, Julia Hess, Tetiana Bogdanova, Michael
                                Abend, Mykola Tronko, Alina Brenner, Horst Zitzelsberger, Kristian Unger<br>Carcinogenesis.
                                <strong>2015</strong> Nov; 36(11): 1381-1387. doi: 10.1093/carcin/bgv119</p>
                            <hr>
                        </div>

                        <div id="year-2014" class="anchor-section mb-4">
                            <h5>2014</h5>
                            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3947712/"><em>ETV6-NTRK3</em>
                                is a common chromosomal rearrangement in radiation-associated thyroid cancer</a><br>
                                Rebecca J. Leeman-Neill, Lindsey Kelly, Pengyuan Liu, Alina V. Brenner, Mark
                                P. Little, Tetiana I. Bogdanova, Viktoria Evdokimova, Maureen Hatch,
                                Liudmyla Y. Zurnadzy, Marina N. Nikiforova, Ning J. Yue, Miao Zhang,
                                Kiyohiko Mabuchi, Mykola D. Tronko, Yuri E. Nikiforov<br> Cancer. <strong>2014</strong>
                                Mar 15; 120(6): 799-807. doi: 10.1002/cncr.28484</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/24749883/">DNA fingerprinting: a
                                quality control case study for human biospecimen au</a>thentication<br>Kofanova
                                OA, Mathieson W, Thomas GA, Betsou F. Biopreserv Biobank. 2014
                                Apr;12(2):151-3</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/24976026/">Anterior gradient protein
                                2 promotes survival, migration and invasion of papillary thyroid carcinoma
                                cells</a><br>Di Maro G, Salerno P, Unger K, Orlandella FM, Monaco M,
                                Chiapetta D, Thomas G, Oczko-Wojciechowska M, Masullo M, Jarzab B, Santoro
                                M, Salvatore G. Mol Cancer. 2014 Jun 30;13:160.</p>
                            <hr>
                        </div>

                        <div id="year-2013" class="anchor-section mb-4">
                            <h5>2013</h5>
                            <p><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3809792/">Identification
                                of kinase fusion oncogenes in post-Chernobyl radiation-induced thyroid
                                cancers</a><br><span>Julio C. Ricarte-Filho, Sheng Li, Maria E.R. Garcia-Rendueles, Cristina Montero-Conde, Francesca Voza, Jeffrey A. Knauf, Adriana Heguy, Agnes Viale, Tetyana Bogdanova, Geraldine A. Thomas, Christopher E. Mason, James A. Fagin:&nbsp;</span><br><span>J Clin Invest.&nbsp;</span><strong>2013</strong><span>&nbsp;November 1; 123(11): 4935-4944. Published online October 25. doi: 10.1172/JCI69766</span>
                            </p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/23595409/">Reconstruction of
                                indicidual thyroid doses to the Ukrainian subjects enrolled in the Chernobyl
                                Tissue Bank.</a><br>Likhtarov I, Thomas G, Kovgan L, Masiuk S, Chepurny M,
                                Ivanova O, Gerasymenko V, Tronko M, Bogdanova T, Bouville A. 2013 Radiat
                                Prot Dosimetry. 156(4):407-23</p>
                            <p><a href="https://www.nature.com/articles/bjc2013574">Iodine-131 dose-dependent gene expression: alterations in both normal and tumour thyroid tissues of post-Chernobyl thyroid cancers.</a><br><span>Abend M, Pfeiffer RM, Ruf C, Hatch M, Bogdanova TI, Tronko MD, Hartmann J, Meineke V, Mabuchi K, Brenner AV.</span><br><span>Br J Cancer.&nbsp;</span><strong>2013</strong><span>&nbsp;Oct 15;109(8):2286-94. doi: 10.1038/bjc.2013.574. Epub 2013 Sep 17&nbsp;</span>
                            </p>
                            <hr>
                        </div>

                        <div id="year-2012" class="anchor-section mb-4">
                            <h5>2012</h5>
                            <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/22848350">Iodine-131 dose
                                dependent gene expression in thyroid cancers and corresponding normal
                                tissues following the Chernobyl accident.</a><br><span>Abend M, Pfeiffer RM, Ruf C, Hatch M, Bogdanova TI, Tronko MD, Riecke A, Hartmann J, Meineke V, Boukheris H, Sigurdson AJ, Mabuchi K, Brenner AV.</span><br><span>PLoS One.&nbsp;</span><strong>2012</strong><span>;7(7):e39103</span><br><br><span
                                    style="text-decoration: underline;"><a
                                    href="http://www.ncbi.nlm.nih.gov/pubmed/22828612">A gene expression signature distinguishes normal tissues of sporadic and radiation-induced papillary thyroid carcinomas.</a></span><span>&nbsp;</span><br><span>Dom G, Tarabichi M, Unger K, Thomas G, Oczko-Wojciechowska M, Bogdanova T, Jarzab B, Dumont JE, Detours V, Maenhaut C.</span><br><span>Br J Cancer.&nbsp;</span><strong>2012</strong><span>&nbsp;Sep 4;107(6):994-1000</span><br><br><span
                                    style="text-decoration: underline;"><a
                                    href="http://www.ncbi.nlm.nih.gov/pubmed/22394998">The Chernobyl Tissue Bank: integrating research on radiation-induced thyroid cancer.</a></span><span>&nbsp;</span><br><span>Thomas GA.</span><br><span>J Radiol Prot.&nbsp;</span><strong>2012</strong><span>&nbsp;Mar;32(1):N77-80</span><br><br><span
                                    style="text-decoration: underline;"><a
                                    href="http://www.ncbi.nlm.nih.gov/pubmed/22394669">Thyroid cancer in Ukraine after the Chernobyl accident (in the framework of the Ukraine-US&nbsp;<strong>Thyroid</strong>&nbsp;Project).</a></span><span>&nbsp;</span><br><span>Tronko M, Mabuchi K, Bogdanova T, Hatch M, Likhtarev I, Bouville A, Oliynik V, McConnell R, Shpak V, Zablotska L, Tereshchenko V, Brenner A, Zamotayeva G.</span><br><span>J Radiol Prot.&nbsp;</span><strong>2012</strong><span>&nbsp;Mar;32(1):N65-9.</span>
                            </p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/23436219/">RET/PTC and PAX8/PPARg
                                chromosomal rearrangements in post-Chernobyl thyroid cancer and their
                                association with iodine-131 radiation dose and other
                                characteristics. </a><br>Leeman-Neill RJ, Brenner AV, Little MP, Bogdanova
                                TI, Hatch M, Zurnadzy LY, Mabuchi K, Tronko MD, Nikiforov YE. Cancer. 2013
                                May 15;119(10):1792-9. doi: 10.1002/cncr.27893. Epub 2013 Feb 21.</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/24704918/">The Chernobyl Tissue Bank
                                — A Repository for Biomaterial and Data Used in Integrative and Systems
                                Biology Modeling the Human Response to Radiation </a><br>Thomas GA, Unger K,
                                Krznaric, K, Galpine A, Bethel JA, Tomlinson C, Woodbridge M, Butcher S
                                (2012) Genes 3(2), 278-290</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/22454401/">Novel candidate genes of
                                thyroid tumourigenesis identified in Trk-T1 transgenic mice. </a><br>Heiliger
                                KJ, Hess J, Vitagliano D, Salerno P, Braselmann H, Salvatore G, Ugolini C,
                                Summerer I, Bogdanova T, Unger K, Thomas G, Santoro M, Zitzelsberger H.
                                Endocr Relat Cancer;19:409-21</p>
                            <hr>
                        </div>
                        <div id="year-2011" class="anchor-section mb-4">
                            <h5>2011</h5>
                            <p class="bodytext"><a href="https://pubmed.ncbi.nlm.nih.gov/21678000/">Putting
                                health risks from radiation exposure into context: lessons from past
                                accidents. </a><br>Thomas GA 2011 Ann Acad Med Singapore.
                                40:158-2<br><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/21606360">Gain of chromosome band 7q11 in papillary thyroid carcinomas of young patients is associated with exposure to low-dose irradiation.</a><br>Hess
                                J, Thomas G, Braselmann H, Bauer V, Bogdanova T, Wienberg J, Zitzelsberger
                                H, Unger K.<br>Proc Natl Acad Sci U S A.&nbsp;<strong>2011</strong>&nbsp;Jun
                                7;108(23):9595-600.<br><br><br><span style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/21411301">Gene expression profiles for radiation-induced thyroid cancer.</a></span>&nbsp;<br>Maenhaut
                                C, Detours V, Dom G, Handkiewicz-Junak D, Oczko-Wojciechowska M, Jarzab
                                B.<br>Clin Oncol (R Coll
                                Radiol).&nbsp;<strong>2011</strong>&nbsp;May;23(4):282-8<br><br><br><span
                                        style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/21436994">Chromosomal Rearrangements in Post-Chernobyl Papillary Thyroid Carcinomas: Evaluation by Spectral Karyotyping and Automated Interphase FISH.</a></span>&nbsp;<br>Hieber
                                L, Huber R, Bauer V, Schaffner Q, Braselmann H, Thomas G, Bogdanova T,
                                Zitzelsberger H.<br>J Biomed Biotechnol. 2011;2011:693691. Epub 2011
                                Mar&nbsp;<br><br><br>
                            </p>
                            <div class="border-1 rounded bg-light p-3">
                                <p class="bodytext"><strong>Clinical Oncology Special
                                    Edition&nbsp;&nbsp;</strong><span
                                        style="text-decoration: underline;"><a
                                        href="http://www.sciencedirect.com/science?_ob=PublicationURL&amp;_tockey=%23TOC%237169%232011%23999769995%233124736%23FLA%23&amp;_cdi=7169&amp;_pubType=J&amp;view=c&amp;_auth=y&amp;_acct=C000050221&amp;_version=1&amp;_urlVersion=0&amp;_userid=10&amp;md5=fcd32a83086d538b2088c7f565242828">Volume 23, Issue 4</a></span>,
                                    May 2011, Pages 229-308. The Radiobiological Consequences of the
                                    Chernobyl Accident 25 Years On - April 2011<br><br>Thomas GA,
                                    Tronko MD, Tsyb AF, Tuttle RM What Have We Learnt From
                                    Chernobyl? What Have We Still To Learn?&nbsp; Clin Oncol (R Coll
                                    Radiol). 2011 May;23(4):229-33 Feb 23. [Epub ahead of print]&nbsp;<br><span
                                            style="text-decoration: underline;"><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21353505">http://www.ncbi.nlm.nih.gov/pubmed/21353505</a></span><br><br>Saenko
                                    V, Ivanov V, Tsyb A, Bogdanova T, Tronko M, Demidchik Y,
                                    Yamashita S.The Chernobyl Accident and its Consequences.&nbsp;
                                    Clin Oncol (R Coll Radiol). 2011May;23(4):234-43. Epub 2011 Feb
                                    22<br><span style="text-decoration: underline;"><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21345660">http://www.ncbi.nlm.nih.gov/pubmed/21345660</a></span><br><br><br>Tuttle
                                    RM, Vaisman F, Tronko MD. Clinical Presentation and Clinical
                                    Outcomes in Chernobyl-related Paediatric Thyroid Cancers: What
                                    Do We Know Now? What Can We Expect in the Future? Clin Oncol (R
                                    Coll Radiol). 2011 May;23(4):268-75. Epub 2011 Feb 15.<br><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21324656"><span
                                            style="text-decoration: underline;">http://www.ncbi.nlm.nih.gov/pubmed/21324656</span><br><br></a>Livolsi
                                    VA, Abrosimov AA, Bogdanova T, Fadda G, Hunt JL, Ito M, Rosai J,
                                    Thomas GA, Williams ED.&nbsp; The Chernobyl Thyroid Cancer
                                    Experience: Pathology. Clin Oncol (R Coll Radiol). 2011
                                    May;23(4):261-7. Epub 2011 Feb 18.<br><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21333507"><span
                                            style="text-decoration: underline;">http://www.ncbi.nlm.nih.gov/pubmed/21333507</span><br><br></a>Thomas
                                    GA, Bethel JA, Galpine A, Mathieson W, Krznaric M, Unger K.&nbsp;
                                    Integrating Research on Thyroid Cancer after Chernobyl-The
                                    Chernobyl Tissue Bank. Clin Oncol (R Coll Radiol). 2011
                                    May;23(4):276-81. Epub 2011 Feb 22<br><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21345659"><span
                                            style="text-decoration: underline;">http://www.ncbi.nlm.nih.gov/pubmed/21345659</span><br></a><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21376548"><br><br></a>Zitzelsberger
                                    H, Unger K. DNA Copy Number Alterations in Radiation-induced
                                    Thyroid Cancer. Clin Oncol (R Coll Radiol). 2011
                                    May;23(4):289-96<br><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21316205"><span
                                            style="text-decoration: underline;">http://www.ncbi.nlm.nih.gov/pubmed/21316205</span><br><br></a>Maenhaut
                                    C, Detours V, Dom G, Handkiewicz-Junak D, Oczko-Wojciechowska M,
                                    Jarzab&nbsp; B.&nbsp; Gene Expression Profiles for
                                    Radiation-induced Thyroid Cancer. Clin Oncol (R Coll Radiol).
                                    2011 May;23(4):282-8. Epub 2011 Mar 15<br><a
                                            href="http://www.ncbi.nlm.nih.gov/pubmed/21411301"><span
                                            style="text-decoration: underline;">http://www.ncbi.nlm.nih.gov/pubmed/21411301</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade border border-top-0" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-1">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2010">2010</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2009">2009</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2008">2008</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2007">2007</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2006">2006</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2005">2005</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2004">2004</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2003">2003</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2002">2002</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2001">2001</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-2000">2000</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm hover-grey-button ms-1 mt-1"href="#year-1999">1999</a>
                        </li>
                    </ul>
                </div>
                <div class="col-11">
                    <div class="p-3">
                        <div id="year-2010">
                            <h5>2010</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/19961897/">Chromosomal aberrations
                                in thyroid follicular-cell neoplasia: the search for novel oncogenes and
                                tumour suppressor genes. </a><br>Unger K, Thomas GA, Zitzelsberger H 2010
                                Mol Cell Endocrinol 321:57-66</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/19958753/">Molecular rearrangements
                                in papillary thyroid carcinomas. </a><br>Zitzelsberger H, Bauer V, Thomas G,
                                Unger K 2010 Clin Chim Acta. 411:301-8</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/19725780/">Copy Number and Gene
                                Expression Alterations in Radiation-Induced Papillary Thyroid Carcinoma from
                                Chernobyl Pediatric Patients. </a><br>Stein L, Rothschild J, Luce J, Cowell
                                JK, Thomas G, Bogdanova TI, Tronko MD, Hawthorn L 2010 Thyroid.
                                20:475-87</p>
                            <hr>
                        </div>

                        <div id="year-2009" class="anchor-section mb-4">
                            <h5>2009</h5>
                            <p>None available.</p>
                            <hr>
                        </div>

                        <div id="year-2008" class="anchor-section mb-4">
                            <h5>2008</h5>
                            <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/18651805?ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum"
                                    target="_blank">Morphologic characteristics of chernobyl-related childhood papillary thyroid carcinomas are independent of radiation exposure but vary with iodine intake.</a><br><span>Williams ED, Abrosimov A, Bogdanova T, Demidchik EP, Ito M, LiVolsi V, Lushnikov E, Rosai J, Tronko MD, Tsyb AF, Vowler SL, Thomas GA.</span><br><span>Thyroid. 2008 Aug; 18(8): 847-52.</span><br><br><span
                                    style="text-decoration: underline;"><a
                                    href="http://www.ncbi.nlm.nih.gov/pubmed/18408749?ordinalpos=6&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum"
                                    target="_blank">Array CGH demonstrates characteristic aberration signatures in human papillary thyroid carcinomas governed by RET/PTC.</a></span><br><span>Unger K, Malisch E, Thomas G, Braselmann H, Walch A, Jackl G, Lewis P, Lengfelder E, Bogdanova T, Wienberg J, Zitzelsberger H.</span><br><span>Oncogene. 2008 Jul 31;27(33):4592-602.&nbsp;</span>
                            </p>
                            <hr>
                        </div>

                        <div id="year-2007" class="anchor-section mb-4">
                            <h5>2007</h5>
                            <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/17804723?ordinalpos=1&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">
                                Human Thyroid Tumor Cell Lines Derived from Different Tumor Types Present a Common Dedifferentiated Phenotype.</a>
                                <br>
                                Wilma C.G. van Staveren, David Weiss Solis, Laurent Delys, Laurence Duprez, Guy
                                Andry, Brigitte Franc, Gerry Thomas, Frederick Libert, Jacques E. Dumont,
                                Vincent Detours, and Carine Maenhaut (2007).&nbsp;<br>Cancer Res 2007; 67:
                                (17). September 1, 2007. 67:8113-20<br><br><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/17712314?ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Genome wide gene expression profiling suggests distinct radiation susceptibilities in sporadic and post Chernobyl papillary thyroid cancers.</a>

                                <br><br>
                                Detours V, Delys L. Liebert F, Weiss Solis D, Bogdanova T, Dumont JE, Franc B,
                                Thomas G, Maenhaut C (2007)&nbsp;<br>B J Cancer 97: 818 - 825
                                <br><br>
                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/17621275?ordinalpos=4&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum"
                                        target="_blank">Gene expression and the biological phenotype of papillary thyroid carcinomas.&nbsp;</a>
                                <br>Delys L, Detours V, Franc B, Thomas G, Bogdanova T, Tronko M, Libert F, Dumont JE,
                                and Maenhaut C (2007)&nbsp;<br>Oncogene July 9 1-10. 26:7894-903</p>
                            <hr>
                        </div>

                        <div id="year-2006" class="anchor-section mb-4">
                            <h5>2006</h5>
                            <p><a
                                    href="http://www.ncbi.nlm.nih.gov/pubmed/16738412?ordinalpos=71&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum"
                                    target="_blank">Cancer consequences of the Chernobyl accident: 20 years on.</a><br>Cardis
                                E, Howe G, Ron E, Bebeshko V, Bogdanova T, Bouville A, Carr Z, Chumak V,
                                Davis S, Demidchik Y, Drozdovitch V, Gentner N, Gudzenko N, Hatch M, Ivanov
                                V, Jacob P, Kapitonova E, Kenigsberg Y, Kesminiene A, Kopecky KJ, Kryuchkov
                                V, Loos A, Pinchera A, Reiners C, Repacholi M, Shibata Y, Shore RE, Thomas
                                G, Tirmarche M, Yamashita S, Zvonova I.<br>J Radiol Prot. 2006
                                Jun;26(2):127-40. Review.&nbsp;<br><br><br><span
                                        style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/16641909?ordinalpos=74&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum"
                                        target="_blank">RET rearrangements in post-Chernobyl papillary thyroid carcinomas with a short latency analysed by interphase FISH.</a></span><br>Unger
                                K, Zurnadzhy L, Walch A, Mall M, Bogdanova T, Braselmann H, Hieber L, Tronko
                                N, Hutzler P, Jeremiah S, Thomas G, Zitzelsberger H.<br>Br J Cancer. 2006
                                May 22;94(10):1472-7.<br><br><br><span
                                        style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/16525684?ordinalpos=82&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum"
                                        target="_blank">TP53 codon 72 polymorphism in radiation-associated human papillary thyroid cancer.</a></span><br>Rogounovitch
                                TI, Saenko VA, Ashizawa K, Sedliarou IA, Namba H, Abrosimov AY, Lushnikov
                                EF, Roumiantsev PO, Konova MV, Petoukhova NS, Tchebotareva IV, Ivanov VK,
                                Chekin SY, Bogdanova TI, Tronko MD, Tsyb AF, Thomas GA, Yamashita S.<br>Oncol
                                Rep. 2006 Apr;15(4):949-56.</p>
                            <hr>
                        </div>

                        <div id="year-2005" class="anchor-section mb-4">
                            <h5>2005</h5>
                            <p><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15812549&amp;query_hl=1"
                                    target="_blank">Absence of a specific radiation signature in post-Chernobyl thyroid cancers.</a><br>Detours
                                V, Wattel S, Venet D, Hutsebaut N, Bogdanova T, Tronko MD, Dumont JE, Franc
                                B, Thomas G, Maenhaut C.<br>Br J Cancer. 2005 Apr
                                25;92(8):1545-52.<br><br><br><span style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15753666&amp;query_hl=1"
                                        target="_blank">Investigation of loss of heterozygosity and SNP frequencies in the RET gene in papillary thyroid carcinoma.</a></span><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15753666&amp;query_hl=1"
                                        target="_blank">&nbsp;</a><br>Stephens LA, Powell NG, Grubb J,
                                Jeremiah SJ, Bethel JA, Demidchik EP, Bogdanova TI, Tronko MD, Thomas GA.&nbsp;<br>Thyroid.
                                2005 Feb;15(2):100-4.<br><br><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15714593&amp;query_hl=1"
                                        target="_blank">Frequency of BRAF T1796A mutation in papillary
                                    thyroid carcinoma relates to age of patient at diagnosis and not to
                                    radiation exposure.</a><br>Powell N, Jeremiah S, Morishita M, Dudley E,
                                Bethel J, Bogdanova T, Tronko M, Thomas G.&nbsp;<br>J Pathol. 2005
                                Apr;205(5):558-64.<br><br><a
                                        href="https://pubmed.ncbi.nlm.nih.gov/15650359/">Chromosomal
                                    imbalances in post Chernobyl thyroid Tumours. </a><br>Richter H,
                                Braselman H, Hieber L, Thomas GA, Bogdanova TI, Zitzelsberger H 2004 Thyroid
                                14 (12):1061-1064</p>
                            <hr>
                        </div>

                        <div id="year-2004" class="anchor-section mb-4">
                            <h5>2004</h5>
                            <p><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15356022"
                                    target="new">Low frequency of BRAFT1796A mutations in childhood thyroid carcinomas.&nbsp;</a><br>J
                                Clin Endocrinol Metab. 2004 Sep;89(9):4280-4.&nbsp;<br>Kumagai A, Namba H,
                                Saenko VA, Ashizawa K, Ohtsuru A, Ito M, Ishikawa N, Sugino K, Ito K,
                                Jeremiah S, Thomas GA, Bogdanova TI, Tronko MD, Nagayasu T, Shibata Y,
                                Yamashita S.&nbsp;<br><br><span style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15356021"
                                        target="new">Heterogeneity in the distribution of RET/PTC rearrangements within individual post-Chernobyl papillary thyroid carcinomas.&nbsp;</a></span><br>J
                                Clin Endocrinol Metab. 2004 Sep;89(9):4272-9.&nbsp;<br>Unger K,
                                Zitzelsberger H, Salvatore G, Santoro M, Bogdanova T, Braselmann H, Kastner
                                P, Zurnadzhy L, Tronko N, Hutzler P, Thomas G.&nbsp;<br><br><span
                                        style="text-decoration: underline;"><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15356020"
                                        target="new">BRAF mutations are not a major event in post-Chernobyl childhood thyroid carcinomas.&nbsp;</a></span><br>J
                                Clin Endocrinol Metab. 2004 Sep;89(9):4267-71.&nbsp;<br>Lima J, Trovisco V,
                                Soares P, Maximo V, Magalhaes J, Salvatore G, Santoro M, Bogdanova T, Tronko
                                M, Abrosimov A, Jeremiah S, Thomas G, Williams D, Sobrinho-Simoes
                                M.&nbsp;<br><br><a
                                        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15150580"
                                        target="new">Thyroid carcinoma after Chernobyl latent period, morphology and aggressiveness.&nbsp;</a><br>Williams
                                ED, Abrosimov A, Bogdanova T, Demidchik EP, Ito M, LiVolsi V, Lushnikov E,
                                Rosai J, Sidorov Y, Tronko MD, Tsyb AF, Vowler SL, Thomas GA.&nbsp;<br>Br J
                                Cancer. 2004 Jun 1;90(11):2219-24.</p>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/15145515/">Low prevalence of BRAF
                                mutation in radiation-induced thyroid tumors in contrast to sporadic
                                papillary carcinomas. </a><br>Nikiforova MN, Ciampi R, Salvatore G, Santoro
                                M, Gandhi M, Knauf J, Thomas GA, Jeremiah S, Bogdanova TI, Tronko MD, Fagin
                                JA, Nikiforov YE 2004 Cancer Lett 209: 1-6</p>
                            <hr>
                        </div>

                        <div id="year-2003" class="anchor-section mb-4">
                            <h5>2003</h5>
                            <p>The Chernobyl Tissue Bank - Integrating Internaional Research on Thyroid
                                Cancer<br>Thomas GA<br>In Radiation and Humankind. Proceedings of the First
                                Nagasaki Symposium of International Consortium for Medical Care of Hibakusha
                                and Radiation Life Science, Nagasaki, Japan. 2003: International Congress
                                Series; 1258. Elsevier BV, Holland; pp21-30</p>
                            <hr>
                        </div>

                        <div id="year-2002" class="anchor-section mb-4">
                            <h5>2002</h5>
                            <p>None available.</p>
                            <hr>
                        </div>

                        <div id="year-2001" class="anchor-section mb-4">
                            <h5>2001</h5>
                            <p>
                                <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11534188&amp;dopt=Abstract"
                                   rel="noopener noreferrer" target="_blank" data-auth="NotApplicable"
                                   data-linkindex="0"><span>Radiogenic (Chernobyl) thyroid cancer</span><span><br></span></a><span>Abrosimov AIu, Lushnikov EF, Frank GA.</span><span><br><span>Arkh Patol. 2001 Jul-Aug;63(4):3-9. Review. Russian</span></span>
                            </p>
                            <p>
                                <span>Creation of a tumour bank for post Chernobyl thyroid cancer.</span><span><br><span>Thomas GA, Williams ED, Becker DV, Bogdanova TI, Demidchik EP, Lushnikov E, Nagataki S, Ostapenko V, Pinchera A, Souchkevitch G, Tronko MD, Tsyb AF, Tuttle M, Yamashita S.</span><br><span>Clin Endocrinol (Oxf). 2001 Sep;55(3):423. No abstract available</span></span>
                            </p>
                            <p><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11566813&amp;dopt=Abstract"
                                    rel="noopener noreferrer" target="_blank" data-auth="NotApplicable"
                                    data-linkindex="1"><span>Lessons from Chernobyl.</span><span><br></span></a><span>Williams D.</span><span><br><span>BMJ. 2001 Sep 22;323(7314):643-4. No abstract available.</span><br><br></span><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11500144&amp;dopt=Abstract"
                                    rel="noopener noreferrer" target="_blank" data-auth="NotApplicable"
                                    data-linkindex="2"><span>Chernobyl thyroid tumor tissue and nucleic acid bank.</span><span><br></span></a><span>Thomas GA, Williams ED.</span><span><br><span>Radiat Res. 2001 Sep;156(3):333. No abstract available.</span></span>
                            </p>
                            <p><span><br></span><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11238549&amp;dopt=Abstract"
                                    rel="noopener noreferrer" target="_blank" data-auth="NotApplicable"
                                    data-linkindex="3"><span>Chernobyl thyroid tumor bank.</span><span><br></span></a><span>Thomas GA, Williams ED; Scientific Project Panel of the NISCTB. Newly Independent States Chernobyl Tissue Bank.</span><span><br><span>J Clin Endocrinol Metab. 2001 Mar;86(3):1428. No abstract available.</span><br><br></span><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=11236933&amp;dopt=Abstract"
                                    rel="noopener noreferrer" target="_blank" data-auth="NotApplicable"
                                    data-linkindex="4"><span>International cooperation post-Chernobyl. Scientific Project Panel of the International Cooperation to Establish Post Chernobyl Thyroid Tissue, Nucleic Acid and Databanks.</span><span><br></span></a><span>Thomas GA, Williams ED.</span><span><br><span>Int J Radiat Biol. 2001 Feb;77(2):254. No abstract available.</span></span>
                            </p>
                            <hr>
                        </div>

                        <div id="year-2000" class="anchor-section mb-4">
                            <h5>2000</h5>
                            <p><a href="https://pubmed.ncbi.nlm.nih.gov/11493987/">Two proposals regarding
                                the terminology of thyroid tumours. </a><br>Williams ED, Abrosimov A,
                                Bogdanova TI, Ito M, Rosai J, Sidorov Yu, Thomas GA 2000 Int J Surgical
                                Pathology 8 181-183</p>
                            <p><a
                                    href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;list_uids=10646883&amp;dopt=Abstract"
                                    target="new">Gene rearrangement and Chernobyl related thyroid cancers.</a><br>Santoro
                                M, Thomas GA, Vecchio G, Williams GH, Fusco A, Chiappetta G, Pozcharskaya V,
                                Bogdanova TI, Demidchik EP, Cherstvoy ED, Voscoboinik L, Tronko ND, Carss A,
                                Bunnell H, Tonnachera M, Parma J, Dumont JE, Keller G, Hofler H, Williams
                                ED.<br>Br J Cancer. 2000 Jan;82(2):315-22.</p>
                            <hr>
                        </div>

                        <div id="year-1999" class="anchor-section mb-4">
                            <h5>1999</h5>
                            <p>Thyroid carcinoma post Chernobyl in the Russian Federation, a pathological
                                study. <br>Abrosimov A Yu, Lushnikov EF, Tsyb AF, Thomas GA, Williams ED
                                1999 In: Proceedings of the First International Symposium on Radiation and
                                Thyroid Cancer., Thomas GA, Karaoglou A, Williams ED (eds) pp145-150</p>
                            <p>Characterisation of lymphoid infiltrate in post Chernobyl thyroid carcinoma
                                in Ukraine. <br>Bogdanova TI, Zurnadhy L, Tronko ND, Thomas GA, Williams ED
                                1999 In: Proceedings of the First International Symposium on Radiation and
                                Thyroid Cancer. Thomas GA, Karaoglou A, Williams ED (eds) pp 213-214</p>
                            <p>Association between morphological subtype of post Chernobyl papillary
                                carcinoma and rearrangement of the ret oncogene. <br>GA Thomas, H Bunnell,
                                Williams ED, M Santoro, GC Vecchio, TI Bogdanova, , L Voscoboinik, ND
                                Tronko, V Pozcharskaya, ED Cherstvoy 1999 In: Proceedings of the First
                                International Symposium on Radiation and Thyroid Cancer. Thomas GA,
                                Karaoglou A, Williams ED (eds) pp 255-263</p>
                            <p>The Pathology of Thyroid Cancer in Ukraine Post Chernobyl. <br>Bogdanova T,
                                Bragarnik M, Tronko ND, Harach HR, Thomas GA, Williams ED 1999 In: The
                                Radiological Consequences of the Chernobyl Accident. A Karaoglou, G Desmet,
                                GN Kelly, HG Menzel (eds) European Commission EUR 16544 EN pp 785-789</p>
                            <p>The pathology of childhood thyroid carcinoma in Belarus. <br>Cherstvoy E,
                                Pozcharskaya V, Harach HR, Thomas GA, Williams ED 1996 In: The Radiological
                                Consequences of the Chernobyl Accident. A Karaoglou, G Desmet, GN Kelly, HG
                                Menzel (eds) European Commission EUR 16544 EN pp 779-784.</p>
                            <p>The pathology of childhood thyroid tumours in the Russian Federation after
                                Chernobyl. <br>Abrosimov AY, Lushnikov EF, Tsyb AF, Harach HR, Thomas GA,
                                Williams ED 1996 In: The Radiological Consequences of the Chernobyl
                                Accident. A Karaoglou, G Desmet, GN Kelly, HG Menzel (eds) European
                                Commission EUR 16544 EN pp 791-793</p>
                            <p>The molecular biological characteristics of childhood thyroid carcinoma. <br>Cherstvoy
                                E, Nerovnya A, Voskoboinic L, Bogdanova T, Tronko ND, Tonnachera M, Dumont
                                JE, Lamy F, Keller G, Böhm J, Höfler H, Vecchio GC, Viglietto G, Chiappetta
                                G, Williams GH, Thomas GA, Williams ED 1996 In: The Radiological
                                Consequences of the Chernobyl Accident. A Karaoglou, G Desmet, GN Kelly, HG
                                Menzel (eds) European Commission EUR 16544 EN pp 795-798</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
