{% extends 'base.html' %}
{% load static %}

{% block title %}
    CTB | Contact Us
{% endblock %}

{% block description %}
    Contact Us
{% endblock %}

{% block page_name %}contact{% endblock %}

{% block page_header %}
    <div class="page-banner">Contact Us</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 pt-5">

{#                If you would like any further information or have any queries regarding the Tissue Bank, please#}
{#                contact us.#}
                <div class="card my-3">
{#                    <div class="card-header text-center fw-bold"><i class="far fa-envelope"></i></div>#}
                    <div class="card-body py-3 px-5">
                        <div class="card-text">
                            <div><i class="far fa-question-circle me-2"></i> For any queries regarding the tissue bank, please email us at:</div>
                            <div class="ps-5"><a
                                    href="mailto:ctb-info@cancer.gov">ctb-info@cancer.gov</a></div>
                        </div>
                        <hr>
                        <div class="card-text">
                            <div><i class="fas fa-desktop me-2"></i> For questions on the website please email us at: </div>
                            <div class="ps-5"><a
                                    href="mailto:ctb-support@isb-cgc.org">ctb-support@isb-cgc.org</a></div>
                            </div>

                        </div>
                </div>




            </div>
        </div>
    </div>
{% endblock %}
{% block js_file %}
    {{ block.super }}
{% endblock %}