{% extends 'base.html' %}
{% load static %}

{% block title %}
    CTB | Oncogenic Driver Search Facility
{% endblock %}

{% block description %}
    Oncogenic Driver Search Facility
{% endblock %}

{% block page_name %}driver_search_facility{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="pt-3">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Oncogenic Driver Search Facility</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="border rounded bg-light p-4">
                    <div class="content-header d-flex flex-wrap justify-content-between">
                        <h5>Oncogenic Driver Search</h5>
                    </div>
                    <div class="py-3">
                        <p>This section of the search facility enables you to refine your search using oncogenic
                            drivers that have been identified in tumour samples as a result of research studies
                            using other samples from the same patients that match your search criteria. Data has
                            been pooled from three research studies, all of which have used either whole genome
                            sequencing or next generation sequencing/RNAseq.</p>
                        <p>Please note that this part of the search facility is currently restricted to oncogenic
                            drivers in Papillary Thyroid Carcinoma. Currently this data is available on 515
                            Papillary Carcinomas in which a unique driver has been identified. In 20 of these cases,
                            no driver mutations have yet been identified. If you wish to include these in your
                            search, please ensure that you select "NYI" in the menu below.</p>
                        <p>Oncogenic drivers fall into two categories – fusion events or mutation events. Many
                            oncogenic driver genes can have multiple partners involved in fusions, for example the
                            RET oncogene (see this recent <a href="https://pubmed.ncbi.nlm.nih.gov/32326537/"
                                                             target="_blank" rel="noopener">review by Santoro et
                                al</a>., for more information). The search facility groups these together, so if you
                            select Fusion.RET, all of your selected cases that harbour any form of RET fusion gene
                            will be returned. This is true for sother fusion drivers with multiple possible
                            partners. If you require samples that harbour specific oncogenic fusions, please detail
                            this in your application.
                        </p>
                        <p>Similarly, if you select Mut.Ras, the selected cases may harbour mutations in any of the
                            3 RAS oncogenes. If you require samples that harbour specific RAS mutations, please
                            detail this in your application.</p>
                        <p>The table below gives you the total number of cases which harbour the individual
                            oncogenic drivers included in the dropdown menu that may be available. The actual number
                            that would be available for your study will depend on the biospecimens you require plus
                            any clinical data also requested.</p>
                    </div>
                    {#                        <a href="#" class="content-readmore__link closed">Read more <img class="icon"#}
                    {#                                                                                         src="/getfile/design/icons/icon-arrow-left-blue.svg"#}
                    {#                                                                                         alt=""></a>#}
                    {#                    </div>#}


                    <hr>

                    <h5>Current Samples</h5>

                    <div class="py-3">The table below gives you the total number of cases which harbour the individual
                        oncogenic
                        drivers included in the selection lists that may be available. The actual number that would be
                        available for your study will depend on the biospecimens you require plus any clinical data also
                        requested. In brackets are the drivers that also meet the search criteria you entered in the
                        biosample search and the clinical search.
                    </div>


                    <table class="table table-striped table-sm">
                        <tbody>
                        <tr>
                            <th>Fusion Drivers</th>
                            <th class="text-end">Cases</th>
                            <th class="text-end"><span class="d-none">From results</span></th>
                            <th>Mutated Drivers</th>
                            <th class="text-end">Cases</th>
                            <th class="text-end"><span class="d-none">From results</span></th>
                            <th>Not Yet Id'd</th>
                            <th class="text-end">Cases</th>
                            <th class="text-end"><span class="d-none">From results</span></th>
                        </tr>
                        <tr>
                            <td>Fusion.ALK</td>
                            <td>16</td>
                            <td>(0)</td>
                            <td>Mut.APC</td>
                            <td>2</td>
                            <td>(0)</td>
                            <td>NYI</td>
                            <td>20</td>
                            <td>(0)</td>
                        </tr>
                        <tr>
                            <td>Fusion.BRAF</td>
                            <td>25</td>
                            <td>(0)</td>
                            <td>Mut.BRAFV600E</td>
                            <td>209</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.IGF2/IGF2BP3</td>
                            <td>6</td>
                            <td>(0)</td>
                            <td>Mut.BRAF_other</td>
                            <td>2</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.LTK</td>
                            <td>3</td>
                            <td>(0)</td>
                            <td>Mut.DICER1</td>
                            <td>3</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.NTRK1</td>
                            <td>14</td>
                            <td>(0)</td>
                            <td>Mut.NFE2L2</td>
                            <td>2</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.NTRK3</td>
                            <td>43</td>
                            <td>(0)</td>
                            <td>Mut.RAS</td>
                            <td>47</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.PPARG</td>
                            <td>14</td>
                            <td>(0)</td>
                            <td>Mut.TSC</td>
                            <td>2</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>Fusion.RET</td>
                            <td>102</td>
                            <td>(0)</td>
                            <td>Mut.TSHR</td>
                            <td>7</td>
                            <td>(0)</td>
                            <td colspan="3"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="pt-2">The references for the sources of the data that are relevant to the samples that
                        meet your search
                        criteria will be provided to you with the biosamples requested on approval of your application.
                        The relevant references should be quoted in any publication resulting from your study.
                    </div>
                    <hr>

                    <div class="btn-toolbar justify-content-between" role="toolbar">
                        <a class="btn btn-primary me-md-2" href="{% static 'files/application-form.doc' %}">
                            <i class="fa-solid fa-download"></i> Make Application
                        </a>
                        <div class="input-group">
                            <input type="text" name="title" id="search-save-title"
                                   class="form-control" value="" placeholder="Search Name"
                                   aria-label=Save Search" aria-describedby="search-save">
                            <button class="btn btn-primary" type="button" id="search-save"><i
                                    class="fa-solid fa-floppy-disk"></i> Save Search
                            </button>
                        </div>
                    </div>
                    {#                    <script id="save-search-driver-json" type="application/json">{"diagnosis":["FC"],"patientresidency":"both","patientgender":"both","ageatoperation":"0,49","ageatexposure":"-40,19","returnpatientids":true,"ids":[],"totalcases":0}</script>#}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="border rounded bg-light p-3 mb-4">
                    <div class="d-grid gap-2 col mx-auto">
                        <a class="btn btn-secondary" href="{% url 'search_tissue_samples' %}"><i
                                class="fa-solid fa-left-long"></i> Back to Biosample Search Facility</a>
                        <a class="btn btn-secondary" href="{% url 'clinical_search_facility' %}"><i
                                class="fa-solid fa-left-long"></i> Perform Another Clinical Search</a>
                        {#                        <a class="btn btn-outline-secondary" href="{% static 'files/application-form.doc' %}"><i#}
                        {#                                class="fa-solid fa-download"></i> Download Application Form</a>#}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}