{% extends 'ctb/about.html' %}

{% load static %}

{% block title %}
    CTB | Fact Sheet
{% endblock %}

{% block description %}
    Fact Sheet
{% endblock %}

{% block page_name %}fact_sheet{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Fact Sheet</h3>
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">About</li>
                    <li class="breadcrumb-item active" aria-current="page">Fact Sheet</li>
                </ol>
            </nav>
        </div>
    </div>

{% endblock %}

{% block subcontent %}
    <div class="rounded bg-light p-3 mb-2">
        <h4><a id="top"></a>Chernobyl Tissue Bank (CTB) Fact Sheet</h4>
        <ol>
            <li><a href="#one">What is the CTB?</a></li>
            <li><a href="#two">What types of material and information are available from the CTB?</a></li>
            <li><a href="#three">Who can obtain specimens?</a></li>
            <li><a href="#four">How do researchers apply?</a></li>
            <li><a href="#five">How are request evaluated?</a></li>
            <li><a href="#six">What are the criteria for evaluation and review of applications?</a></li>
            <li><a href="#seven">How do I get an answer to any other queries?</a></li>
        </ol>
    </div>
    <div><a href="{% static 'files/Fact-sheet-June-2014.pdf' %}" target="_blank" rel="noopener"
            class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-download"></i> Download
        this fact sheet as a pdf</a></div>
    <hr>
    <h5><a id="one" class="anchor-section"></a>1. What is the CTB?</h5>
    <p>The CTB is an international cooperation to establish banks of biomaterial from and information on
        patients who were exposed as children or adolescents to fallout from the Chernobyl nuclear accident.
        It also houses research data derived by researchers using the CTB biomaterials, in a web accessible
        data warehouse. The project is supported by the governments of 2 of the 3 countries that were
        exposed to the heaviest contamination from the accident: the Russian Federation and Ukraine.
        Belarus, which was also contaminated and was initially part of the CTB, is currently suspended
        because of political issues. Funds to support the bank are currently provided by the National Cancer
        Institute of the USA and the Sasakawa Health Foundation of Japan. The Coordinating Centre for the
        project is based at Imperial College, London, UK.</p>
    <p>The project commenced collection of material on 1<sup>st</sup> October 1998. It is designed to
        promote collaboration and avoid wasteful competition in the use of limited and very scientifically
        important resources. The project is overseen by a Steering Committee, which includes the Ministers
        of Health or their representatives from the Russian Federation and Ukraine and senior
        representatives of each of the funding organisations.</p>
    <p>The objectives of the project are to provide an internationally supported research resource for both
        ongoing and future studies of the health consequences of the Chernobyl accident. It aims to:</p>
    <ol>
        <li>Ensure that specimens of thyroid cancer operated on or after 1<sup>st</sup> October 1998 (the
            start date of the project) are consistently described and sampled, and that the materials
            (extracted tumour and normal DNA/RNA and blood samples and in some cases fixed tissue sections)
            together with the relevant information, are available for appropriate research studies.
        </li>
        <li>Provide a diagnosis agreed by an international committee of pathologists for all cases in the
            CTB. The diagnosis will be made available to research groups carrying out molecular biological,
            therapeutic, epidemiological and other studies as well as to the countries concerned.
        </li>
        <li>Ensure that knowledge pertaining to the consequences of this accident that may benefit the
            patients involved, or mankind in general, and be of value in responding to future nuclear
            accidents is not lost.
        </li>
    </ol>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>
    <h5><a id="two" class="anchor-section"></a>2. What types of material and information are available from the CTB?
    </h5>
    <p>The bank includes material and information from patients with thyroid carcinomas and cellular
        adenomas from the contaminated oblasts of the Russian Federation and Ukraine who were born after
        26<sup>th</sup> April 1967 (i.e. aged under 19 at the time of the Chernobyl accident) and operated
        on or after 1<sup>st</sup> October 1998. The tissue banks which comprise the CTB are held in the
        Institute of Endocrinology and Metabolism in Kiev, Ukraine and the Medical Radiological Research
        Centre in Obninsk, Russian Federation. Detailed standard operating procedures for the collection,
        documentation and storage of specimens and blood samples have been agreed with professional staff
        involved in the collection of material. Ethical standards, conforming to the requirements of the
        country involved, including those of the funding organisations have been agreed with the relevant
        authorities.</p>
    <p>The Standard Operating Procedures for the collection of information and material have been approved
        by the relevant Institutional Review Boards. Each specimen is given a code authorised by the
        appropriate person responsible for the management of the bank in each of the three countries. The
        age, sex, age at operation (complying with the HIPAA regulations), oblast and country of residence,
        and a calculated measurement of dose received, is recorded for each specimen stored in the bank and
        made available to researchers with approved projects receiving material from the bank, together with
        the review agreed by the international panel of pathologists.</p>
    <p>Frozen aliquots of DNA and RNA extracted from normal and neoplastic thyroid tissue and DNA extracted
        from blood, are available. A frozen section is taken from each portion of tissue before extraction
        to verify its nature. DNA and RNA are extracted to an internationally agreed protocol. Quality
        control is performed on nucleic acid extracted from all tissues and blood samples. In addition,
        sections from paraffin sections and from sections of tissue microarrays are available.</p>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>

    <h5><a id="three" class="anchor-section"></a>3. Who can obtain material and/or research data from the CTB?</h5>
    <p>The biomaterials available to the international scientific community comprise samples of extracted
        DNA and RNA from tissue, DNA from blood, samples of serum, paraffin embedded sections and tissue
        microarrays. It is not the aim of the project to restrict supply of material to researchers, but to
        coordinate and monitor the use of this unique resource in order to ensure that the maximum possible
        information can be obtained from a limited supply of material.</p>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>
    <h5><a id="four" class="anchor-section"></a>4. How do researchers apply?</h5>
    <p>Researchers who are interested in using material, information or research data from the CTB for
        research purposes must complete a brief, but detailed, proposal that includes information on the
        study design and justification for their requirements for materials and/or data. Researchers can
        first check whether there are sufficient samples that fit the criteria for their study by using the
        Biosample Search Facililty. Applications must be made on forms that can be downloaded after
        performing their Biosample Search. Applications are approved by an External Review Panel that
        ensures that the samples are used in the best scientific research by bona fide researchers.</p>
    <p>Applicants whose projects are approved are encouraged to cooperate with the Institutes in Ukraine and
        Russia depending on which Institute's material is most suitable and is available. For major
        collaborative studies, a period of training for a member of the relevant Institutes staff may be
        recommended, and allowance in the application to funding bodies for financial support may need to
        take account of this and other costs.</p>
    <p>No charge is made for samples of nucleic acid, but researchers must be prepared to pay appropriate
        expenses for shipment of specimens. Any request that may involve the relevant Eastern European
        Institute in work additional to the collection of samples for nucleic acid extraction and the
        minimal data set, will also attract an additional charge. Prospective applicants who are not yet in
        receipt of funding, or who are in the process of obtaining funds, are strongly encouraged to contact
        the CTB Secretariat to obtain information on resource availability. The CTB does not provide funding
        for research projects.</p>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>
    <h5><a id="five" class="anchor-section"></a>5. How are requests evaluated?</h5>
    <p>Requests are evaluated for scientific merit and appropriate use of CTB resources by the External
        Review Panel (ERP), which is an independent, multi-disciplinary panel of senior researchers in the
        fields of thyroid cancer and radiobiological research. The External Review Panel awards scores for
        various aspects of an application, which are then averaged. Based on the score, an application will
        be assigned to one of three categories: (i) approve for access, (ii) the PI to be invited to respond
        to the ERPs comments, or (iii) reject. The Chairman of the Scientific Advisory Board (SAB) will be
        advised, for information, of applications scoring in categories (i) or (iii), but will review
        applications about which questions have been raised and/or for which the PIs response requires
        further consideration. Projects may be submitted at any time and the review procedures are, in most
        cases, completed by e-mail.</p>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>
    <h5><a id="six" class="anchor-section"></a>6. What are the criteria for evaluation and review of applications?</h5>
    <p>Criteria have been established to ensure that valid, productive and equitable scientific use is made
        of the CTB resources for multidisciplinary and international studies on post Chernobyl thyroid
        cancer. Approval for a project may be subject to the development of appropriate collaborative links.
        Collaborative publications between Eastern European Institute personnel and researchers using
        material provided by that Institute are anticipated.</p>
    <p>Researchers applying for CTB resources must provide evidence that the following criteria are
        satisfied:</p>
    <ol>
        <li>The question being addressed is of considerable scientific and/or medical interest.</li>
        <li>The study design is appropriate to address the question.</li>
        <li>The sample size is sufficient to provide a good chance of answering the question.</li>
        <li>The researcher and his/her research team have appropriate qualifications and experience to
            conduct the study.
        </li>
        <li>The researchers are familiar with the relevant literature.</li>
        <li>The proposed work cannot be undertaken without the data and/or materials of the type collected
            by the CTB.
        </li>
        <li>The researchers have provided sufficient evidence to the External Review Panel that they can
            perform to accepted standards and quality control, the relevant laboratory analytical
            procedures.
        </li>
        <li>If case information other than the standard data set (date of birth, date of operation, sex,
            oblast of residence, calculated dose and international Pathology Panel review diagnosis) is
            required, the costs of obtaining this data and ethical and consent issues should be adequately
            addressed.
        </li>
        <li>The researchers are able to obtain sufficient funds to pay for the shipping of Material. Cost
            estimates will be provided by the Secretariat, based on Steering Committee guidelines.
        </li>
        <li>The researchers, or their collaborators, can perform and interpret properly the appropriate
            statistical methods required for the study.
        </li>
        <li>The researchers identify suitably qualified and trained persons to perform the work, and agree
            that only these persons will have access to the data and material.
        </li>
        <li>The amounts of material requested by the researchers are appropriate for the specified study,
            and are not excessive, given the limited availability of material.
        </li>
        <li>The research can be undertaken within the time consistent with the researchers funding and the
            availability of the necessary data and materials.
        </li>
        <li>Any potentially clinically relevant data uncovered during the course of the study will be passed
            to the CTB Secretariat immediately who will pass the information on to the appropriate centre,
            through the channels agreed by the Steering Committee.
        </li>
        <li>The researchers agree to provide within 3 months of the completion of their research project, a
            brief report on their work, including the results of their investigations on each sample
            studied, identified by the CTB sample code number. This information will be sent to the CTB
            Secretariat for use within the CTB. It will not be otherwise disseminated without the agreement
            of the Principal Investigator.
        </li>
        <li>The researchers will inform the CTB Secretariat if any material has not been used in the
            performance of their designated study and will return this material, if requested, to the
            Secretariat for transmission to the appropriate Eastern European Institute.
        </li>
        <li>The researchers agree not to use the material for any use other than that explicitly proposed in
            their approved project, or to pass any material supplied by the CTB to third parties without the
            explicit permission of the Scientific Advisory Board.
        </li>
    </ol>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>
    <h5><a id="seven" class="anchor-section"></a>7. How do I get an answer to any other queries?</h5>
    <p>If you have any questions that are not covered in this fact sheet, please contact us at <a
            href="mailto:ctb-info@isb-cgc.org">ctb-info@isb-cgc.org</a> and we will do our best to help you:</p>
    <div class="mb-5"><a href="#"><i class="fa-solid fa-arrow-up"></i> Back to the top</a></div>

{% endblock %}
