{% extends 'base.html' %}
{% load static %}

{% block title %}
    CTB | Latest News
{% endblock %}

{% block description %}
    Latest News
{% endblock %}

{% block page_name %}news{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Latest News</h3>
{#        <div>#}
{#            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item active" aria-current="page">Latest News</li>#}
{#                </ol>#}
{#            </nav>#}
{#        </div>#}
    </div>

{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div id="news">
                <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center">
                    <div class="col">
                        <div class="card">
                            <a href="{% url 'news' 1 %}" class="card__img-link">
                                <img src="{% static 'img/newsreactorsite.jpeg' %}" class="card-img-top"
                                     alt="The latest study from the use of samples supplied by the CTB is now available online image">
                            </a>
                            <div class="card-body">
                                <div class="card-title"><a href="{% url 'news' 1 %}">The latest
                                    study from the use of samples supplied by the CTB is now available online</a></div>
                                <p class="card-text">The study used comprehensive genomic, transcriptomic and
                                    epigenomic profiling to investigate the contribution of environmental radiation to
                                    characteristics of papillary carcinoma.</p>
                                <a href="{% url 'news' 1 %}" class="card-link">Read more</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    April 23rd, 2021
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <a href="{% url 'news' 2 %}" class="card__img-link"><img
                                    src="{% static 'img/newslandscape.jpeg' %}"
                                    class="card-img-top"
                                    alt="General Meeting of the National Academy of Medical Sciences of Ukraine, 14th April 2021 image"></a>
                            <div class="card-body">
                                <div class="card-title"><a href="{% url 'news' 2 %}" class="card__title__link">General
                                    Meeting of the National Academy of Medical Sciences of Ukraine, 14th April 2021</a>
                                </div>
                                <p class="card-text">This meeting was held to mark the 35th anniversary of the
                                    Chernobyl accident.</p>
                                <a href="{% url 'news' 2 %}" class="card-link">Read more</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    April 19th, 2021
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
