{% extends 'base.html' %}
{% load static %}

{% block title %}
    CTB | Latest News
{% endblock %}

{% block description %}
    News
{% endblock %}

{% block page_name %}news{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Latest News</h3>
{#        <div>#}
{#            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item"><a href="{% url 'latest_news' %}">Latest News</a></li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>#}
{#                </ol>#}
{#            </nav>#}
{#        </div>#}
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-9 border rounded-2 p-4">
                <h4 class="mb-4">{{ news.title }}</h4>
                <div>
                    {{ news.content|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
