{% extends 'ctb/research.html' %}

{% load static %}

{% block title %}
    CTB | Nucleic Acids and Paraffin Sections
{% endblock %}

{% block description %}
    Nucleic Acids and Paraffin Sections
{% endblock %}

{% block page_name %}nucleic_acids_and_paraffin_sections{% endblock %}

{% block page_header %}
    <div class="page-banner">Nucleic Acids and Paraffin Sections</div>
    <div class="container mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Research</li>
                <li class="breadcrumb-item"><a href="{% url 'material_available' %}">Material Available</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nucleic Acids and Paraffin Sections</li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block subcontent %}

    <h4 class="pt-3">Aliquots of nucleic acid</h4>
    <p>RNA and DNA are extracted from histologically verified frozen specimens in Ukraine. Extraction is carried out
        based on the agreed SOPs. The Institute in Ukraine and the Coordinating Centre carry our detailed quality
        assurance using Agilent Bioanalysers.</p>
    <p>Information about the availability of DNA and RNA extracted from frozen tissue can be viewed
        using the CTB Biosample Search Facility.&nbsp;The numbers change frequently as samples are issued to researchers
        and new extracts are prepared.</p>
    <p>Aliquots of DNA from blood are also available and in the majority of cases these can be paired with samples of
        RNA and DNA from tissue from the same patient. DNA is extracted using Qiagen kits.</p>
    <h4 class="pt-3">Serum</h4>
    <p>Aliquots of serum are also available. These are prepared per agreed SOP.</p>
    <p>There is no fee payable for provision of aliquots of nucleic acid or serum, but investigators will be asked to
        cover the costs of transport of the samples and any other additional costs.</p>
    <h4 class="pt-3">Paraffin sections</h4>
    <p>Sections are available from routine formalin fixed, paraffin embedded tissue and from
        tissue microarrays (click here for information on <a href="{% url 'tissue_microarrays' %}">tissue
            microarrays</a>).
    </p>

{% endblock %}
