{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-9 pb-4">
                {% block subcontent %}
                {% endblock %}
            </div>

            <div class="col-md-3 pb-4">
                <ul class="side-navigation">
                    <li class="side-navigation__item side-navigation__item--heading">
                        <a href="{% url 'researchers_page' %}" class="side-navigation__link ">
                            For Researchers
                        </a>
                    </li>
                    <li class="side-navigation__item ">
                        <a class="side-navigation__link" href="{% url 'access_to_materials' %}">
                            Access to Materials
                        </a>
                    </li>
                    <li class="side-navigation__item  side-navigation__link--active ">
                        <a class="side-navigation__link" href="{% url 'research_projects' %}">
                            Research Projects Using CTB Materials
                        </a>
                    </li>
                    <li class="side-navigation__item ">
                        <a class="side-navigation__link" href="{% url 'material_available' %}">
                            Material Available
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}