{% extends 'ctb/research.html' %}

{% load static %}

{% block title %}
    CTB | Research Projects - 2010-2019
{% endblock %}

{% block description %}
    Research Projects - 2010-2019
{% endblock %}

{% block page_name %}research_projects_2010_2019{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Research Projects - 2010-2019</h3>
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Research</li>
                    <li class="breadcrumb-item"><a href="{% url 'research_projects' %}">Research Projects Using CTB
                        Materials</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Research Projects - 2010-2019</li>
                </ol>
            </nav>
        </div>
    </div>

{% endblock %}

{% block subcontent %}
    <div class="rounded bg-light p-3 mb-2">
        <h4><a id="top"></a>Approved projects</h4>
        <ol class="toc">
            <li><a href="#study0012011">EpiRadBio</a></li>
            <li><a href="#study0022011">Molecular specificities of radiation-induced thyroid tumors</a></li>
            <li><a href="#study0032011">EpiRadBio - Validation of radiation-associated gain of chromosome band
                7q11</a></li>
            <li><a href="#study0042011">A Sequence-based Approach to Identify Genetic Determinants of
                Tumorigenesis in Radiation-Induced Pediatric Papillary Thyroid Carcinomas</a></li>
            <li><a href="#study0012012">EpiRadBio - integrative analysis of molecular data</a></li>
            <li><a href="#study0022012">Validation of the gene signature differentiating exposed from
                non-exposed PTCs, obtained in the Genrisk-T project (no.: 036495) with an independent QPCR
                method</a></li>
            <li><a href="#study-0012013">A detailed study of the somatic genomics of radiation induced thyroid
                cancer</a></li>
            <li><a href="#study-0012014">Assessing the impact of radiation exposure on the development of
                medullary thyroid carcinoma</a></li>
            <li><a href="#study-0022014">Anaplastic lymphoma kinase (ALK) rearrangements in radiation-induced
                papillary thyroid carcinomas: a study on post Chernobyl tissue samples</a></li>
            <li><a href="#study-0032014">Comprehensive Genomic Characterization of Radiation-Related Thyroid
                Cancer in Ukraine</a></li>
            <li><a href="#study0012015">Liquid biopsy in assessment of radio-induced thyroid cancer in children
                and young adults</a></li>
        </ol>
    </div>
    <div class="fw-bold anchor-section mt-5" id="study0012011">Project reference number: 001/2011</div>
    <p>Principal Investigator: Dr K Unger, Helmholtz Centre, Munich, Germany</p>
    <p class="bodytext">Email: <a
            href="mailto:unger@helmholtz-muenchen.de">unger@helmholtz-muenchen.de</a><br><br><em>EpiRadiBio</em><br><br>Summary
        of project:<br><br>The EU funded project EpiRadBio project seeks to model the cancer of the lung,
        breast and the thyroid after exposure to radiation in the low-dose range (cumulative dose &lt; 100
        mGy). The formalin-fixed paraffin-embedded (FFPE) papillary thyroid cancer tissue sections we apply
        for will be used in a work package of EpiRadBio that focuses on the cancer risk of papillary thyroid
        cancer. In another, recently finished EU funded project on young onset childhood thyroid carcinomas
        that also used CTB material we found that a gain of the chromosome band 7q11 was associated with
        exposure to low-dose ionising radiation (He et al., PNAS, in press). The FFPE tumor sections from
        patients, which are part of the UkrAm cohort and which come with estimates on radiation dose the
        patients have received will be used for validation and further characterisation of this marker. The
        FFPE sections will be used for in situ hybridisation (FISH) using 7q11 specific probes. DNA and
        total RNA will also be extracted from the FFPE sections. The DNA will be used for high-resolution
        array CGH and the total RNA for qRT-PCR mRNA expression analysis of candidate genes from the gained
        region. The copy number data and qRT-PCR data will be integrated with the dose estimates in order to
        identify a potential relationship between the radiation-associated biomarker and radiation dose. The
        resulting data will be provided to the modellers of the project who will use this information to
        build and refine their models on radiation risk of papillary thyroid cancer after exposure to
        low-dose ionising radiation.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0022011">Project reference number:
        002/2011
    </div>
    <p>Principal Investigator: Dr C Ory, Commissariat Energie Atomique, Departement
        Sciences du vivant, Institut de radiobiologie cellulaire et moleculaire, Laboratoire de Cancerologie
        Experimentale (CEA), France <br><br>Email: <a
                href="mailto:catherine.ory@cea.fr">catherine.ory@cea.fr</a><br><br><em>Molecular
            specificities of radiation-induced thyroid tumors</em><br><br>Summary of project:<br><br>The
        constituted network to realise this program involved two teams well known in diagnosis and treatment
        of thyroid tumors and one team which were already implicated in the search of radiation-induced
        signatures in the thyroid and in the identification of the molecular mechanisms of radiation-induced
        tumorigenesis. To date, we focused our approach at the transcriptomic level. We wish now to analyse
        miRNA and mRNA deregulations in a series of post-Chernobyl thyroid tumors by microarray analysis: 1)
        to identify a radiation-induced miRNA and mRNA signatures. We will assess the robustness of these
        signatures for a potential use as a diagnostic tool alone or in combination. 2) to obtain an
        integrated miRNA/mRNA overview of radiation-induced tumorigenesis by taking advantage of the
        deregulated pathway identified by the transcriptomic approach. To date, no such integrated analysis
        has been performed as most of the studies focused on either transcriptome analysis or miRNA analysis
        separately. Ultimately, we will cross the obtained data with others results from analysis of
        post-radiotherapy tumors (Ory et al. 2011; Ugolin et al. PLosONE under revision).<br><a
                href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0032011">Project reference number: 003/2011</div>
    <p>Principal Investigator: Dr K Unger, Helmholtz Centre, Munich, Germany<br><br>Email:
        <a href="mailto:unger@helmholtz-muenchen.de">unger@helmholtz-muenchen.de</a><br><br><em>EpiRadBio -
            Validation of radiation-associated gain of chromosome band 7q11</em><br><br>Summary of
        project:<br><br>The project using the applied biomaterial is an extension of the EU-funded GENRISK-T
        project and aims to validate a gain on chromosome band 7q11 that was found to be associated with
        papillary thyroid carcinomas from young patients (&lt; 19 years) that were exposed to radiation from
        the Chernobyl fallout at very young age (median: 2 years). The validation set containing exposed and
        unexposed cases will be matched for age, morphology and residence - these criteria were already used
        for case selection of the GENRISK-T set. A high-definition array CGH platform will be used to
        validate the gain and to type for additional radiation-markers that are smaller in size and were
        therefore not detectable by 1Mb BAC array CGH that was used in GENRISK-T. Further, we will use RNA
        samples and paraffin sections for characterisation of expression candidate genes and proteins by
        qRT-PCR and immunohistochemistry. Fresh-frozen tissue from selected samples expressing the candidate
        gene CLIP2 from the gained region on 7q11 and those that do not express the gene will be analysed
        using a whole proteomics approach (liquid chromatography-tandem mass spectrometry, LC-MS/MS). The
        results will be used to identify the dysregulation networks in which CLIP2 is specifically involved.
        The projects aims to validate the radiation marker on chromosome band 7q11, to identify the networks
        that are dysregulated in tumors harbouring the marker and to find new markers that are associated
        with exposure to radiation.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0042011">Project reference number:
        004/2011
    </div>
    <p>Principal Investigator: Dr L Hawthorn, Georgia Health Sciences University,
        USA<br><br>Email: <a href="mailto:lhawthorn@georgiahealth.edu" target="_blank" rel="noopener">lhawthorn@georgiahealth.edu</a><br><br><em>A
            Sequence-based Approach to Identify Genetic Determinants of Tumorigenesis in Radiation-Induced
            Pediatric Papillary Thyroid Carcinomas</em><br><br>Summary of project:<br><br>Cancer is a
        genetic disease, a concept which has been consistently observed for all tumors. Our approach is to
        survey the entire genome of these tumors to look for mutations and other perturbations that are
        involved in radiation-induced papillary thyroid carcinoma (RI-PTC) and create a genomic profile of
        this tumor. A new technology, termed Next-generation sequencing allows sequencing of the entire
        human genome in 8 days. We will begin by sequencing the DNA of 50 individual RI-PTC tumors from
        Chernobyl pediatric patients to look for mutations in genes. We will correlate this data with RNA
        sequencing from the same patient samples. This data will provide information about events that are
        taking place at the level of gene expression, providing information about over and under expressed
        genes and the expression of aberrant genes, and gene fusion products. This data will be compared to
        RIP-PTC in age matched patients who were not exposed to radiation to develop a radiation-specific
        profile. We have bioinformatic specialists in the group who will integrate these various kinds of
        data. This study will provide a comprehensive profile of RIP-PTC.<br><a
                href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0012012">Project reference number:
        001/2012
    </div>
    <p>Principal Investigator: Dr W van Wieringen, VU University Medical Centre,
        Amsterdam, The Netherlands<br><br>Email: <a
                href="mailto:w.vanwieringen@vumc.nl">w.vanwieringen@vumc.nl</a><br><br><em>EpiRadBio
            integrative analysis of molecular data</em><br><br>Summary of project:<br><br>Within the scope
        of the EpiRadBio-project, Mark van de Wiel, Carel Peeters and Wessel van Wieringen from the
        department of Epidemiology &amp; Biostatistics of the VU University Medical Center are responsible
        for integrative analysis of the molecular data from (radiation) exposed and non-exposed thyroid
        cancer samples.<br>Integrative analysis combines heterogeneous biological data, be it experimental
        (e.g., copy number, gene expression, microRNA expression) or from the biological literature (e.g.,
        gene annotation, pathway information). Integration of data from multiple sources is imperative for a
        mechanistic understanding of cancer. By putting together partial views of a complex process like
        tumorgenesis, we may obtain a more accurate and complete picture of the molecular mechanisms
        underlying it. No off-the-shelf methodology for the statistical analysis of the data is available.
        We therefore aim to develop statistical models from the experimental data of these biological
        processes. Such models will enhance our ability to identify biomarkers and therapeutic targets more
        unambiguously and to interpret genotype information. This should enhance the understanding of what
        distinguishes the exposed from the non-exposed thyroid cancers. In addition, the biological insight
        these models provide is likely to result in more targeted follow-up experiments and efficient use of
        available resources.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0022012">Project reference number: 002/2012</div>
    <p>Principal
        Investigator: Professor B Jarzab, Maria Sklodowska-Curie Memorial Cancer Centre and Institute of
        Oncology, Gliwice, Poland<br><br>Email: <a
                href="mailto:bjarzab@io.gliwice.pl">bjarzab@io.gliwice.pl</a><br><br><em>Validation of the
            gene signature differentiating exposed from non-exposed PTCs, obtained in the Genrisk-T project
            (no.: 036495) with an independent QPCR method</em><br><br>Summary of project:<br><br>The aim of
        the study is to investigate transcriptomic profiles of papillary thyroid carcinomas that arose after
        expose to radioiodine fallout from Chernobyl power station and to low level radiocesium exposure
        present in the contaminated environment. This project is the continuation of a series of projects
        that are carry on to investigate the transcriptomic and genetic profile of radiation induced thyroid
        cancer.<br>As a first step of the study Affimetrix microarray technology was employed to define
        transcriptomic profiles in two cohorts of children matched on age, oblast and pathological type of
        tumor. At present we want to validate the results with qPCR.<br><a
                href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study-0012013">Project reference number 001/2013</div>
    <p>Principal
        investigator: Professor GA Thomas, Imperial College, London</p>
    <p>E-mail: <a href="mailto:geraldine.thomas@imperial.ac.uk">geraldine.thomas@imperial.ac.uk</a></p>
    <p><em>A detailed study of the somatic genomics of radiation induced thyroid cancer</em></p>
    <p>Summary of project</p>
    <p>It has long been accepted that cancers arise by the sequential accumulation of errors in the DNA of a
        clone of cells within a given tissue. This in part explains their long latency. However, recent
        studies using whole genome sequencing have suggested a different mechanism for some cancers,
        particularly those that arise in children. This mechanism is called chromothripsis and involves
        shattering of chromosomes and then restitching them together. This results in multiple small changes
        in the DNA that occur simultaneously rather than sequentially. The aim of this study is to use whole
        genome sequencing to identify novel mutations in radiation induced thyroid cancer, to identify
        changes in the mitochondrial genome and to investigate the frequency of chromothripsis in childhood
        thyroid cancer, especially with respect to radiation exposure.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study-0012014">Project reference number: 001/2014</div>
    <p>
        Principal
        investigator: Dr Elizabeth Grubbs, Department Surgical Oncology, MD Anderson Cancer Center, Houston,
        USA</p>
    <p>E-mail: <a href="mailto:eggrubbs@mdanderson.org">eggrubbs@mdanderson.org</a></p>
    <p><em>Assessing the impact of radiation exposure on the development of medullary thyroid carcinoma</em>
    </p>
    <p>Summary of project</p>
    <p>Convincing epidemiologic data has established a strong causative association between ionizing
        radiation and the development of papillary thyroid cancer (PTC). This finding was due, in large
        part, to studying those affected by the Chernobyl accident. More recently other solid tumors, such
        as lung and breast, have been associated with radiation. Medullary thyroid cancer (MTC), a rarer but
        more lethal thyroid cancer than PTC, has not been associated with radiation exposure to date.
        However, there appears to be a higher number of MTC cases than would be expected in the Chernobyl
        population. We would like to determine if there is a link between radiation and MTC by studying this
        population to look for mutations that are associated with radiation exposure. Additionally, because
        MTC is a hereditary condition in 25% of cases, we would also like to assess whether there could be a
        hereditary cause to MTC in this small geographic region. Such data will give us an insight into the
        mechanisms in which tumors are formed in MTC and potentially help us target ways to stop these
        tumors.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study-0022014">Project reference number 002/2014</div><p>Principal
    Investigator: Mr S Eder, Bundeswehr Institute of Radiobiology, Munich Germany</p>
    <p>E-mail: <a href="mailto:stefanfriedricheder@bundeswehr.org">stefanfriedricheder@bundeswehr.org</a>
    </p>
    <p><em>Anaplastic lymphoma kinase (ALK) rearrangements in radiation-induced papillary thyroid
        carcinomas: a study on post Chernobyl tissue samples</em></p>
    <p>Summary of project</p>
    <p>Previous analysis of data derived from the Chernobyl accident has shown strong correlation between
        absorbed doses of IR and the induction of papillary thyroid cancer (PTC). Specific genetic
        alterations, such as rearrangements of the RET oncogene, are linked to previous exposure to
        radioiodine. Recently, rearrangements of the anaplastic lymphoma kinase (ALK) gene have been found
        to be selectively expressed in papillary thyroid cancer (PTC) amongst atomic bomb survivors (ABS),
        but not in PTC patients lacking radiation exposure. In PTC, ALK rearrangements have been shown to be
        associated with tumor aggressiveness and, importantly, represent a possible pharmacologicaltarget
        for the compound Crizotinib. Interestingly, radiation-induced PTCs that show ALK rearrangements lack
        additional genetic alterations that are frequently found in sporadic thyroid cancer, such as RET,
        NTRK1, BRAF, or RAS; these findings underline the oncogenic potential of ALK rearrangements in
        radiation-induced PTC. We plan to investigate a possible correlation between radiation exposure and
        ALK rearrangements in PTC biospecimens from patients exposed to radioiodine in the context of the
        Chernobyl accident as well as in a control cohort of sporadic PTCs, performing fluorescence in situ
        hybridization (FISH) analyses. Furthermore, we intend to assess the mutation status of commonly
        altered oncogenes in PTC, such as BRAF or RAS, using pyrosequencing.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study-0032014">Project reference number 003/2014</div>
    <p>Principal
        Investigator: Dr S Channock, Division of Cancer Epidemiology and Genetics, National Cancer
        Institute, USA</p>
    <p>E-mail: <a href="mailto:chanocks@mail.nih.gov">chanocks@mail.nih.gov</a></p>
    <p><em>Comprehensive Genomic Characterization of Radiation-Related Thyroid Cancer in Ukraine</em></p>
    <p>Summary of project</p>
    <p>New advances in genomic characterization technologies afford new opportunities to comprehensively
        investigate the genetic basis of the established association between childhood exposure to
        iodine-131 (I-131) from the Chernobyl Nuclear Power Plant accident and risk of thyroid cancer. The
        opportunity to analyze a large set of thyroid cancers and normal tissue/blood from the Chernobyl
        Tissue Bank (CTB) could further our understanding of the molecular mechanisms of radiation
        carcinogenesis in humans based on careful evaluation of epidemiological risk factors and genomic
        alterations. Previously, we had reported a preliminary study of dose-related alterations in gene
        expression and chromosomal translocations in approximately 70 cases drawn from the
        Ukrainian-American (UkrAm) cohort component of the CTB biorepository. Recently, we have completed a
        pilot study in which we have conducted a comprehensive genomic characterization of 12 UkrAm cases,
        including paired fresh frozen and formalin-fixed paraffin-embedded tissue samples using the
        infrastructure and analytical pipeline of the Cancer Genome Atlas (TCGA) of the U.S.A. National
        Cancer Institute (NCI). This includes whole genome sequence analysis of RNA, DNA and micro-RNAs as
        well SNP and methylation microarrays of the tumor tissue. SNP microarray and DNA analysis was
        performed on peripheral blood for comparison of germline to somatic alterations. The success of the
        feasibility study establishes a strong scientific basis for extending this approach to a
        substantially larger study of thyroid cancer cases drawn from the CTB. Here, we propose conducting a
        comprehensive genomic characterization study of 500 papillary thyroid cancers (PTC) from the Ukraine
        using biological samples, information on radiation exposure, and demographic characteristics. The
        main objective of the study is to provide comprehensive, integrated characterization of the genomic,
        transcriptomic, and epigenomic landscapes of radiation-related PTC for comparison across a spectrum
        of I-131 exposure as well as a comparison with approximately 500 sporadic PTCs available from The
        Cancer Genome Atlas recently published in Cell. The proposed study has the potential to provide
        unique insights into the mechanisms of radiation carcinogenesis and to generate a rich data resource
        accessible to other investigators.<br><a href="#">Go to top</a></p>
    <div class="fw-bold anchor-section mt-5" id="study0012015">Project reference number: 001/2018</div>
    <p>Principal
        Investigator: Dr Kirk Jensen, Department of Pediatrics, Uniformed Services University of the Health
        Sciences, Bethesda, Maryland, USA</p>
    <p>E-mail: <a href="mailto:kirk.jensen@usuhs.edu">kirk.jensen@usuhs.edu</a></p>
    <p><em>Liquid biopsy in assessment of radio-induced thyroid cancer in children and young adults</em></p>
    <p>Summary of project</p>
    <div>In this study we plan to analyze samples from patients with papillary thyroid cancer. We will
        examine primary tumors and serum samples in 40 pediatric patients (aged ≤ 18 years in 1986), and in
        40 young adults (18-25 years in 1986). To determine a possible correlation between the presence of
        mutations/fusion in liquid biopsy and the extent of metastatic spread we plan to examine samples
        from patients presenting with lymph node metastases only and from patients with distant metastases.
    </div>
    <div>We will first identify driver mutations in the primary tumor by performing Ion Torrent Oncomine
        Pan-Cancer assay analysis using DNA/RNA extracted from tumor. Next, we will employ the same approach
        for analysis of DNA/RNA extracted from the serum sample of the same patient. We expect to show that
        in patients with metastatic thyroid cancers, results of NGS analysis in serum will recapitulate
        results of NGS analysis in primary tumors. We also plan to perform quantitative assessment of
        genomic abnormalities using the digital PCR technique. To do so, we will examine the presence of
        specific driver mutation(s) in primary tumor by dPCR, and determine the mutant/wild copy numbers in
        DNA/RNA samples extracted from the whole tumor. We also plan to complete the assessment of primary
        tumors through the detection of oncogenic proteins by immunohistochemistry, and by evaluation of
        mutant/wild copy numbers after performing laser captured microdissection. Serum from the same
        patient will be then examined by dPCR.
    </div>
    <p><a href="#">Go to top</a></p>
{% endblock %}
