{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pb-4">
                {% block subcontent %}
                {% endblock %}
            </div>
            <div class="col-lg-3 pb-4">
                <div class="list-group">
                    <div class="list-group-item list-group-item-header">
                        Research
                    </div>
                    <a href="{% url 'researchers_page' %}" class="list-group-item list-group-item-action">
                        For Researchers
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'access_to_materials' %}">
                        Access to Materials
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'research_projects' %}">
                        Research Projects Using CTB Materials
                    </a>
                    <a class="list-group-item list-group-item-action" href="{% url 'material_available' %}">
                        Material Available
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}