{% extends 'ctb/research.html' %}

{% load static %}

{% block title %}
    CTB | Research Projects Using CTB Materials
{% endblock %}

{% block description %}
    Research Projects Using CTB Materials
{% endblock %}

{% block page_name %}research_projects{% endblock %}

{% block page_header %}
    <div class="container">
        <h3 class="page-banner">Research Projects Using CTB Materials</h3>
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Research</li>
                    <li class="breadcrumb-item active" aria-current="page">Research Projects Using CTB Materials</li>
                </ol>
            </nav>
        </div>
    </div>

{% endblock %}

{% block subcontent %}
    <p>Please select one of the sections below to view a breakdown of the research projects:</p>
    <ul>
        <li><a href="{% url 'research_projects_2001_2009' %}">2001 - 2009</a></li>
        <li><a href="{% url 'research_projects_2010_2019' %}">2010 - 2019</a></li>
    </ul>
    <p>&nbsp;</p>
{% endblock %}