{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-9 pb-4">
                {% block subcontent %}
                {% endblock %}
            </div>
            <div class="col-lg-3 pb-4">
                <div class="list-group">
                    <div class="list-group-item list-group-item-header">
                        Resources
                    </div>
                    <a class="list-group-item list-group-item-action" href="{% url 'bibliography' %}">
                        Publications using CTB samples and data
                    </a>
{#                    <a class="list-group-item list-group-item-action" href="{% url 'useful_links' %}">#}
{#                        Useful External Links#}
{#                    </a>#}
                    <a class="list-group-item list-group-item-action" href="{% url 'podcasts_and_videos' %}">
                        Useful Podcasts and Videos
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}