{% extends 'ctb/resources.html' %}

{% load static %}

{% block title %}
    CTB | Useful External Links
{% endblock %}

{% block description %}
    Useful External Links
{% endblock %}

{#{% block page_name %}useful_links{% endblock %}#}

{% block page_header %}
    <div class="page-banner">Links to Further Information on the Chernobyl Accident</div>
    <div class="container mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Resources</li>
                <li class="breadcrumb-item active" aria-current="page">Useful External Links</li>
            </ol>
        </nav>
    </div>

{% endblock %}

{% block subcontent %}
    <h5>Information on the Chernobyl Nuclear Power Plant accident</h5>
    <p>The Chernobyl Nuclear Power Plant accident happened on 26th April 1986 at 1.24 a.m. The accident resulted in
        large parts of Southern Belarus and Northern Ukraine, together with a smaller area of western Russia being
        contaminated by radioactive isotopes of iodine and caesium which had been released into the atmosphere. A
        detailed account of the accident can be found on the <a
                href="https://www.world-nuclear.org/information-library/safety-and-security/safety-of-plants/chernobyl-accident.aspx">World
            Nuclear Association’s webpages. </a></p>
    <p>The accident destroyed the Chernobyl 4 reactor and resulted in the immediate deaths of 3 operators of
        the plant at the time of the accident (two from injuries acquired from the accident itself, and one
        from a heart attack), and 28 firemen who died within a few months of the accident from Acute
        Radiation Syndrome, as a result of their exposure to large doses of radiation. Exposure to
        radioiodine in fallout from the accident resulted in a large increase in thyroid cancer, but only in
        those who were children at the time of the accident. The increase became apparent within 4 years of
        the accident. Full details of the health effects of exposure to radiation after Chernobyl can be
        found in a number of <a href="https://www.unscear.org/unscear/en/chernobyl.html">UNSCEAR
            publications.</a></p>
    <p>&nbsp;</p>
    <h5>Why did the accident lead to an increase in thyroid cancer?</h5>
    <p>The explosion and fire in the graphite core of reactor 4 at the Chernobyl Power Plant led to the
        release of more than 1019 Bequerels (Bq) of radioisotopes including 1.8 x 1018 Bq of 131- iodine,
        2.5 x 1018 Bq 133-iodine , and 1.1 x 1018 Bq 132- Tellurium, which decays to 132- iodine. Iodine is
        concentrated and bound in the human thyroid from about 3 months of intrauterine age; for this
        reason, exposure to the thyroid from 131- iodine is 1000-2000 times the average body dose. 131-I has
        a short physical half-life, which results in quick elimination from the environment. Patients who
        were born more than 9 months after the accident were therefore not exposed to radioiodine either in
        utero or as young children. Many of the children in the exposed areas of Belarus, Ukraine and Russia
        received thyroid doses in excess of 1Gy. The thyroid is known to be a particularly radiosensitive
        tissue. Studies following the atomic bombing of Japan in the 1940s have shown that those exposed
        under the age of 10, carried a higher risk of developing thyroid cancer until they were aged 40. The
        <a href="https://www.nap.edu/catalog/11340/health-risks-from-exposure-to-low-levels-of-ionizing-radiation">BEIR
            VII </a>model of the risk of radiation induced thyroid cancer based on studies of groups of
        children exposed to external sources of radiation predicts a lifetime Excess Relative Risk (ERR) of
        around 10 per Gy for exposure in early childhood, falling to an ERR of about 2 per Gy at age 20 at
        exposure. The reason for this differential risk is unknown but is believed to result from a combination of
        factors, including the mitotic activity of the tissue at the time of exposure.</p>
    <p>For further detailed information on the health risks of low dose radiation more generally, please see
        the
        <a href="https://www.oxfordmartin.ox.ac.uk/publications/oxford-martin-restatement-5-a-restatement-of-the-natural-science-evidence-base-concerning-the-health-effects-of-low-level-ionizing-radiation/">Radiation
            Restatement </a>published by the Oxford Martin School in 2017.</p>
    <p>&nbsp;</p>
    <h5>Why was the CTB set up?</h5>
    <p>By 1995 it was becoming apparent that several research groups were unknowingly receiving
        material from the same patients for research, and that there were discrepancies in the pathological
        diagnoses being applied to the same tumor. Subsequently, a <a
                href="https://core.ac.uk/download/pdf/77003549.pdf">report to the EC </a>confirmed that
        there had indeed been considerable overlap since 1995 among a number of EC-funded molecular biology
        projects. It was then recognized that a cooperative tissue bank would reduce the duplication of
        research effort and provide better scientific data on the health effects of the Chernobyl accident.
        The Chernobyl Tissue Bank (CTB) was established as an internationally supported project and
        following agreement on standard operating procedures and approval by the relevant political and
        ethical authorities, the CTB officially started collecting material on 1st October 1998</p>

{% endblock %}