{% extends 'base.html' %}
{% load static %}

{% block title %}
    Chernobyl Tissue Bank | Application Form
{% endblock %}

{% block description %}
    Application for Access to Materials and/or Information from CTB
{% endblock %}

{% block page_name %}application_post_submit{% endblock %}

{% block page_class %}biosample_tab{% endblock %}

{% block content %}
    <div class="container py-3">
        {% if success %}
            <div class="p-3 mb-2 rounded-2 border border-2 border-success">
                <i class="fa-solid fa-circle-check text-secondary"></i> {{ success }}
            </div>
            <div class="mt-4">
                <a class="btn btn-primary" role="button" href="{% url 'dashboard' %}">Back to Dashboard</a>
            </div>
        {% endif %}
        {% if error %}
            <div class="p-3 mb-2 rounded-2 border border-2 border-warning">
                <i class="fa-solid fa-circle-exclamation text-secondary"></i> There was an error while submitting
                your application. Please try again or contact <a href="mailto:nciwebtools@gmail.com">nciwebtools@gmail.com</a>
                if you have any questions.
                <div class="font-monospace text-muted bg-light rounded-2 p-2 mt-2 small">[ERROR] {{ error }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{#{% block js_file %}#}
{#    {{ block.super }}#}
{#    <script src="{% static 'js/application_form.js' %}"></script>#}
{#{% endblock %}#}