{% load static %}
<footer class="mt-auto">
    <div class="container">
        <div class="px-2 py-3 my-1">
            <div class="row">
                <div class="col-lg-10">
                    <div>
                        ©2023 National Cancer Institute (NCI) of the National Institutes of Health, Bethesda, Maryland 20892
                        <div><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" target="_blank" rel="noopener noreferrer">HHS Vulnerability Disclosure</a>

                         | This website is built and maintained by <a href="https://www.isb-cgc.org/" target="_blank" rel="noopener noreferrer"><img class="me-1" style="height: 24px;" alt="isb-cgc logo" src="{% static 'img/isb-cgc.png' %}">ISB-CGC</a>

                        </div>
                    </div>

                </div>
                <div class="col-lg-2 text-end my-auto">
                    <a class="fw-bold" href="#">Back to top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
