{% load static %}
{% load custom_tags %}

{% is_allowed user as has_access %}

<div class="jumbotron crdc-nav">
    <a target="_blank" rel="noopener noreferrer" href="https://datacommons.cancer.gov/">NCI Cancer Research Data Commons</a>
</div>
<nav class="navbar navbar-expand-md fixed-top top-30-px">
    <div class="container-fluid">
        <a href="{% url 'landing_page' %}" title="Home Page" >
            <img class="navbar-brand" src="{% static 'img/NIH_CTB_title.png' %}" alt="NIH CTB Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link{% if 'search' in request.path %} active{% endif %}" href="{% url 'search' %}"
                       title="Search the Biobank"><i class="fa-solid fa-magnifying-glass"
                    ></i> Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link external-link" href="" url="https://learn.canceridc.dev"
                       data-bs-toggle="modal" data-bs-target="#external-web-warning">
                        &nbsp; <i class="fa-solid fa-book"></i> Documentation
                        <i class="fa-solid fa-external-link external-link-icon" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li id="user-login" class="nav-item navbar-signin">
                    <a class="avatar-link" href="{% url 'user_detail' user.id %}">
                        {% with avatar_url=user.socialaccount_set.all.0.get_avatar_url %}
                            {% if avatar_url %}
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="40" height="40" alt="Avatar Link to User Details">
                            {% else %}
                                <i class="fa-solid fa-user basic-avatar"> </i>
                            {% endif %}
                        {% endwith %}
                    </a>
                    <div class="dropdown">
                        <a role="button" class="dropdown-toggle navbar-item__text" id="user-dropdown" data-toggle="dropdown" aria-label="User Dropdown" aria-expanded="true">
                            {{ user.first_name }} <i class="fa fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" role="menu" aria-label="user-dropdown">
                            {% if has_access %}<li class="dropdown-item"><a href="{% url 'user_detail' user.id %}">Account Details <i class="fa-solid fa-cog"></i></a></li>{% endif %}
                            <li class="dropdown-item"><a href="#logout-modal" data-bs-toggle="modal" data-bs-target="#logout-modal" title="Sign Out">Sign Out <i class="fa-solid fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li class="nav-item navbar-signin dropdown">
                    <li class="dropdown-item">
                        <a id="sign-in-dropdown"
                           href="{% url 'account_login' %}" title="Sign In"><i class="fa fa-solid fa-sign-in"></i>
                            Sign In</a>
                    </li>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

