{% load static %}
<footer class="mt-auto">
    <div class="container">
        <div class="px-md-2 py-3 my-1">
            <div class="row">
                <div class="col">
                    <div class="fw-bold fs-3">Chernobyl Tissue Bank</div>
                    <div class="fs-6">at the National Cancer Institute</div>
                </div>
                <div class="col text-end">
                    <div class="fw-bold fs-5">Policies</div>
                    <div class=""><a href="https://www.cancer.gov/policies/accessibility" target="_blank"
                                     rel="noopener noreferrer">Accessibility</a></div>
                    <div class=""><a href="https://www.cancer.gov/policies/foia" target="_blank"
                                     rel="noopener noreferrer">FOIA</a></div>
                    <div class=""><a href="{% url 'privacy' %}">Privacy Policy</a></div>
                    <div class=""><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html"
                                     target="_blank" rel="noopener noreferrer">HHS Vulnerability Disclosure</a></div>
                </div>
                <div class="col text-end">
                    <div class="fw-bold fs-5"><a href="{% url 'contact' %}">Contact Us</a></div>
                    {#                    <div>#}
                    {#                        <a href="mailto:ncicontactdceg@mail.nih.gov" class="me-3">ncicontactdceg@mail.nih.gov</a>#}
                    {#                        <span class=""><a href="{% url 'contact' %}">Website Support</a></span>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-end">
                    <div>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.hhs.gov/">U.S. Department of
                            Health and Human Services
                        </a>
                    </div>
                    <div>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.nih.gov/">National Institutes of
                            Health
                        </a>
                    </div>
                    <div>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.cancer.gov/">National Cancer
                            Institute </a>
                    </div>
                    <div>
                        <a target="_blank" rel="noopener noreferrer" href="https://usa.gov/">USA.gov</a>
                    </div>
                    <div class="mt-3">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://dceg.cancer.gov/research/what-we-study/chernobyl-nuclear-accident">Learn about
                            DCEG research on the Chernobyl accident</a>
                    </div>
                    <div class="mt-4"><a class="fw-bold fs-5" href="#">Back to Top</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
