/*
    DJANGO Admin styles
*/

@import url(fonts.css);

/* VARIABLE DEFINITIONS */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}



@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/*html, body {*/
    /*height: 100%;*/
    /*overflow-x: hidden; !* Prevent scroll on narrow devices *!*/
/*}*/

/*body {*/
    /*margin: 0;*/
    /*padding: 56px;*/
    /*!*padding: 0;*!*/
    /*font-size: 14px;*/
    /*font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;*/
    /*color: var(--body-fg);*/
    /*background: var(--body-bg);*/
/*}*/
