{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load two_factor_tags %}
{% block extra_media %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-lg-6 accounts-col">
                <form class="login" action="" method="post">
                    <div class="card p-4 mb-3">
                        <div class="card-body">
                            <div class="ctb-login">
                                {% if wizard.steps.current == 'auth' %}
                                    <h4 class="card-title mb-4">Sign In</h4>
                                {% elif wizard.steps.current == 'token' %}
                                    <h4 class="card-title my-3"><i class="fa-solid fa-shield"></i> Authenticate Your
                                        Account</h4>
                                    <p>{{ device|as_verbose_action }}</p>
                                {% elif wizard.steps.current == 'backup' %}
                                    <p>{% blocktrans trimmed %}Use this form for entering backup tokens for logging in.
                                        These tokens have been generated for you to print and keep safe. Please
                                        enter one of these backup tokens to login to your
                                        account.{% endblocktrans %}</p>
                                {% endif %}

                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                    <div role="alert" class="alert alert-primary">
                                        {{ form.non_field_errors }}
                                        <div class="small ms-2">Can't sign in? Contact <a href="mailto:ctb-support@isb-cgc.org">ctb-support@isb-cgc.org</a>
                                            for help.
                                        </div>
                                    </div>

                                {% endif %}

                                {% include "two_factor/_simple_wizard_forms.html" %}


                                <input type="submit" value="" aria-label="submit" hidden/>

                                {% if other_devices %}
                                    <p>{% trans "Or, alternatively, use one of your other authentication methods:" %}</p>
                                    <p>
                                        {% for other in other_devices %}
                                            <button name="challenge_device" value="{{ other.persistent_id }}"
                                                    class="btn btn-secondary btn-block" type="submit">
                                                {{ other|as_action }}
                                            </button>
                                        {% endfor %}</p>
                                {% endif %}


                                {% if wizard.steps.current == 'auth' %}
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                                    </div>
                                    <div class="mt-2">
                                        <a class="secondaryAction" href="{% url 'account_reset_password' %}">Forgot your
                                            Password?</a>
                                    </div>

                                {% else %}
                                    {% include "two_factor/_wizard_actions.html" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if wizard.steps.current == 'auth' %}
                        <div class="card my-3 px-md-4 py-4">
                            <div class="card-body sign-up">
                                <h4 class="card-title pb-4">
                                    Apply for an account <span class="fw-normal fs-5"> to log in and search our biorepository</h4>
                                </h4>
                                <div class="d-grid gap-2">
                                    <a class="btn btn-secondary"
                                       href="{% url 'account_signup' %}">Apply for an account</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>

                {% block backup_tokens %}
                    {% if backup_tokens %}
                        <hr>
                        <div class="backup_tokens_form">
                            <form action="" method="post">
                                {% csrf_token %}
                                <p>{% trans "As a last resort, you can use a backup token" %}</p>
                                <p>
                                    <button name="wizard_goto_step" type="submit" value="backup"
                                            class="btn btn-sm btn-secondary btn-block">{% trans "Use Backup Token" %}</button>
                                </p>
                            </form>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
